<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.bpm.dao.IBpmMapper">
	<select id="getDefXmlByDeployId" resultType="hashmap">
		SELECT BYTES_ FROM ACT_GE_BYTEARRAY WHERE NAME_ LIKE '%bpmn20.xml' AND DEPLOYMENT_ID_= #{deployId}
	</select>
	<update id="wirteDefXml">
		update ACT_GE_BYTEARRAY set BYTES_=#{defXml,jdbcType=BLOB} WHERE NAME_ LIKE
		'%bpmn20.xml' and DEPLOYMENT_ID_= #{deployId}
	</update>
</mapper>