<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.bpm.dao.IBpmDefVarMapper">
	<resultMap id="bpmDefVarMapper" type="com.casic27.platform.bpm.entity.BpmDefVar"> 
			<result property="varId" column="VAR_ID" />  
			<result property="defId" column="DEF_ID" />  
			<result property="varName" column="VAR_NAME" />  
			<result property="varKey" column="VAR_KEY" />  
			<result property="varDataType" column="VAR_DATA_TYPE" />  
			<result property="defValue" column="DEF_VALUE" />  
			<result property="nodeName" column="NODE_NAME" />  
			<result property="nodeId" column="NODE_ID" />  
			<result property="actDeployId" column="ACT_DEPLOY_ID" />  
			<result property="varScope" column="VAR_SCOPE" />  
	</resultMap>
	<!--查询(不分页)-->
	<select id="findBpmDefVar" parameterType="hashmap" resultMap="bpmDefVarMapper">
		SELECT 
				VAR_ID,
				DEF_ID,
				VAR_NAME,
				VAR_KEY,
				VAR_DATA_TYPE,
				DEF_VALUE,
				NODE_NAME,
				NODE_ID,
				ACT_DEPLOY_ID,
				VAR_SCOPE
		FROM BPM_DEF_VAR
		WHERE 1 = 1 
			<if test="varName != null and varName != '' ">
				AND VAR_NAME = #{varName}
			</if>
			<if test="varKey != null and varKey != '' ">
				AND VAR_KEY = #{varKey}
			</if>
			<if test="defId != null and defId != '' ">
				AND DEF_ID = #{defId}
			</if>
	</select>
	
	<!--根据Id进行查询-->
	<select id="getBpmDefVarById" parameterType="String" resultMap="bpmDefVarMapper">
		SELECT 
				VAR_ID,
				DEF_ID,
				VAR_NAME,
				VAR_KEY,
				VAR_DATA_TYPE,
				DEF_VALUE,
				NODE_NAME,
				NODE_ID,
				ACT_DEPLOY_ID,
				VAR_SCOPE
		FROM BPM_DEF_VAR
		WHERE VAR_ID=#{id}
	</select>
	
	<!--新增-->
	<insert id="addBpmDefVar" parameterType="com.casic27.platform.bpm.entity.BpmDefVar">
		INSERT INTO BPM_DEF_VAR(
				VAR_ID,
				DEF_ID,
				VAR_NAME,
				VAR_KEY,
				VAR_DATA_TYPE,
				DEF_VALUE,
				NODE_NAME,
				NODE_ID,
				ACT_DEPLOY_ID,
				VAR_SCOPE
		 )
		values(
				#{varId,jdbcType=VARCHAR},
				#{defId,jdbcType=VARCHAR},
				#{varName,jdbcType=VARCHAR},
				#{varKey,jdbcType=VARCHAR},
				#{varDataType,jdbcType=VARCHAR},
				#{defValue,jdbcType=VARCHAR},
				#{nodeName,jdbcType=VARCHAR},
				#{nodeId,jdbcType=VARCHAR},
				#{actDeployId,jdbcType=VARCHAR},
				#{varScope,jdbcType=VARCHAR}
		 )
    </insert>
    
    <!--修改-->
    <update id="updateBpmDefVar" parameterType="com.casic27.platform.bpm.entity.BpmDefVar">
		UPDATE BPM_DEF_VAR SET
			VAR_NAME=#{varName,jdbcType=VARCHAR},
			VAR_KEY=#{varKey,jdbcType=VARCHAR},
			VAR_DATA_TYPE=#{varDataType,jdbcType=VARCHAR},
			DEF_VALUE=#{defValue,jdbcType=VARCHAR},
			NODE_NAME=#{nodeName,jdbcType=VARCHAR},
			NODE_ID=#{nodeId,jdbcType=VARCHAR},
			ACT_DEPLOY_ID=#{actDeployId,jdbcType=VARCHAR},
			VAR_SCOPE=#{varScope,jdbcType=VARCHAR}
		where VAR_ID=#{varId}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteBpmDefVar" parameterType="String">
     	DELETE FROM BPM_DEF_VAR WHERE VAR_ID=#{id}
    </delete>
    
    <!-- 根据条件统计记录数 -->
	<select id="countBpmDefVar" parameterType="com.casic27.platform.bpm.entity.BpmDefVar" resultType="int">
    	SELECT COUNT(1) FROM BPM_DEF_VAR WHERE 1=1
    	<if test="varId != null and varId != ''">
    		AND	VAR_ID != #{varId}
    	</if>
    	<if test="varKey != null and varKey != ''">
    		AND	upper(VAR_KEY) = upper(#{varKey})
    	</if>
    </select>
    
    <delete id="delByDefId" parameterType="String">
     	DELETE FROM BPM_DEF_VAR WHERE DEF_ID=#{defId}
    </delete>
</mapper>