<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.bpm.dao.IBpmFormTableMapper">
	<resultMap id="bpmFormTableMapper" type="com.casic27.platform.bpm.entity.BpmFormTable"> 
			<result property="tableId" column="TABLE_ID" />  
			<result property="tableName" column="TABLE_NAME" />  
			<result property="tableDesc" column="TABLE_DESC" />  
			<result property="isMain" column="IS_MAIN" />  
			<result property="mainTableId" column="MAIN_TABLE_ID" />  
			<result property="versionNo" column="VERSION_NO" />  
			<result property="isDefault" column="IS_DEFAULT" />  
			<result property="isPublished" column="IS_PUBLISHED" />  
			<result property="publishedBy" column="PUBLISHED_BY" />  
			<result property="publishTime" column="PUBLISH_TIME" />  
			<result property="isExternal" column="IS_EXTERNAL" />  
			<result property="dsAlias" column="DS_ALIAS" />  
			<result property="dsName" column="DS_NAME" />  
			<result property="relation" column="RELATION" />  
			<result property="keyType" column="KEY_TYPE" />  
			<result property="keyValue" column="KEY_VALUE" />  
			<result property="pkField" column="PK_FIELD" />  
			<result property="listTemplate" column="LIST_TEMPLATE" />  
			<result property="detailTemplate" column="DETAIL_TEMPLATE" />  
	</resultMap>
	<!--查询(不分页)-->
	<select id="findBpmFormTable" parameterType="hashmap" resultMap="bpmFormTableMapper">
		SELECT 
				TABLE_ID,
				TABLE_NAME,
				TABLE_DESC,
				IS_MAIN,
				MAIN_TABLE_ID,
				VERSION_NO,
				IS_DEFAULT,
				IS_PUBLISHED,
				PUBLISHED_BY,
				PUBLISH_TIME,
				IS_EXTERNAL,
				DS_ALIAS,
				DS_NAME,
				RELATION,
				KEY_TYPE,
				KEY_VALUE,
				PK_FIELD,
				LIST_TEMPLATE,
				DETAIL_TEMPLATE
		FROM BPM_FORM_TABLE
		WHERE 1 = 1 
			<if test="tableName != null and tableName != '' ">
				AND TABLE_NAME LIKE  '%'||#{tableName}||'%'
			</if>
			<if test="tableDesc != null and tableDesc != '' ">
				AND TABLE_DESC LIKE  '%'||#{tableDesc}||'%'
			</if>
			<if test="isMain != null and isMain != '' ">
				AND IS_MAIN = #{isMain}
			</if>
			<if test="isDefault != null and isDefault != '' ">
				AND IS_DEFAULT = #{isDefault}
			</if>
	</select>
	
	<!--查询(分页)-->
	<select id="findBpmFormTablePaging" parameterType="hashmap" resultMap="bpmFormTableMapper">
		SELECT 
				TABLE_ID,
				TABLE_NAME,
				TABLE_DESC,
				IS_MAIN,
				MAIN_TABLE_ID,
				VERSION_NO,
				IS_DEFAULT,
				IS_PUBLISHED,
				PUBLISHED_BY,
				PUBLISH_TIME,
				IS_EXTERNAL,
				DS_ALIAS,
				DS_NAME,
				RELATION,
				KEY_TYPE,
				KEY_VALUE,
				PK_FIELD,
				LIST_TEMPLATE,
				DETAIL_TEMPLATE
		FROM BPM_FORM_TABLE
		WHERE 1 = 1 
			<if test="tableName != null and tableName != '' ">
				AND TABLE_NAME LIKE  '%'||#{tableName}||'%'
			</if>
			<if test="tableDesc != null and tableDesc != '' ">
				AND TABLE_DESC LIKE  '%'||#{tableDesc}||'%'
			</if>
			<if test="isMain != null and isMain != '' ">
				AND IS_MAIN = #{isMain}
			</if>
			<if test="isDefault != null and isDefault != '' ">
				AND IS_DEFAULT = #{isDefault}
			</if>
	</select>
	
	<!--根据Id进行查询-->
	<select id="getBpmFormTableById" parameterType="String" resultMap="bpmFormTableMapper">
		SELECT 
				TABLE_ID,
				TABLE_NAME,
				TABLE_DESC,
				IS_MAIN,
				MAIN_TABLE_ID,
				VERSION_NO,
				IS_DEFAULT,
				IS_PUBLISHED,
				PUBLISHED_BY,
				PUBLISH_TIME,
				IS_EXTERNAL,
				DS_ALIAS,
				DS_NAME,
				RELATION,
				KEY_TYPE,
				KEY_VALUE,
				PK_FIELD,
				LIST_TEMPLATE,
				DETAIL_TEMPLATE
		FROM BPM_FORM_TABLE
		WHERE TABLE_ID=#{id}
	</select>
	
	<!--新增-->
	<insert id="addBpmFormTable" parameterType="com.casic27.platform.bpm.entity.BpmFormTable">
		INSERT INTO BPM_FORM_TABLE(
				TABLE_ID,
				TABLE_NAME,
				TABLE_DESC,
				IS_MAIN,
				MAIN_TABLE_ID,
				VERSION_NO,
				IS_DEFAULT,
				IS_PUBLISHED,
				PUBLISHED_BY,
				PUBLISH_TIME,
				IS_EXTERNAL,
				DS_ALIAS,
				DS_NAME,
				RELATION,
				KEY_TYPE,
				KEY_VALUE,
				PK_FIELD,
				LIST_TEMPLATE,
				DETAIL_TEMPLATE
		 )
		values(
				#{tableId,jdbcType=VARCHAR},
				#{tableName,jdbcType=VARCHAR},
				#{tableDesc,jdbcType=VARCHAR},
				#{isMain,jdbcType=VARCHAR},
				#{mainTableId,jdbcType=VARCHAR},
				#{versionNo,jdbcType=INTEGER},
				#{isDefault,jdbcType=VARCHAR},
				#{isPublished,jdbcType=VARCHAR},
				#{publishedBy,jdbcType=VARCHAR},
				#{publishTime,jdbcType=TIMESTAMP},
				#{isExternal,jdbcType=VARCHAR},
				#{dsAlias,jdbcType=VARCHAR},
				#{dsName,jdbcType=VARCHAR},
				#{relation,jdbcType=VARCHAR},
				#{keyType,jdbcType=VARCHAR},
				#{keyValue,jdbcType=VARCHAR},
				#{pkField,jdbcType=VARCHAR},
				#{listTemplate,jdbcType=VARCHAR},
				#{detailTemplate,jdbcType=VARCHAR}
		 )
    </insert>
    
    <!--修改-->
    <update id="updateBpmFormTable" parameterType="com.casic27.platform.bpm.entity.BpmFormTable">
		UPDATE BPM_FORM_TABLE SET
			TABLE_NAME=#{tableName,jdbcType=VARCHAR},
			TABLE_DESC=#{tableDesc,jdbcType=VARCHAR},
			IS_MAIN=#{isMain,jdbcType=VARCHAR},
			MAIN_TABLE_ID=#{mainTableId,jdbcType=VARCHAR},
			VERSION_NO=#{versionNo,jdbcType=INTEGER},
			IS_DEFAULT=#{isDefault,jdbcType=VARCHAR},
			IS_PUBLISHED=#{isPublished,jdbcType=VARCHAR},
			PUBLISHED_BY=#{publishedBy,jdbcType=VARCHAR},
			PUBLISH_TIME=#{publishTime,jdbcType=TIMESTAMP},
			IS_EXTERNAL=#{isExternal,jdbcType=VARCHAR},
			DS_ALIAS=#{dsAlias,jdbcType=VARCHAR},
			DS_NAME=#{dsName,jdbcType=VARCHAR},
			RELATION=#{relation,jdbcType=VARCHAR},
			KEY_TYPE=#{keyType,jdbcType=VARCHAR},
			KEY_VALUE=#{keyValue,jdbcType=VARCHAR},
			PK_FIELD=#{pkField,jdbcType=VARCHAR},
			LIST_TEMPLATE=#{listTemplate,jdbcType=VARCHAR},
			DETAIL_TEMPLATE=#{detailTemplate,jdbcType=VARCHAR}
		where TABLE_ID=#{tableId}
    </update>
    
    <update id="publishBpmFormTable" parameterType="com.casic27.platform.bpm.entity.BpmFormTable">
    	UPDATE BPM_FORM_TABLE SET
			IS_PUBLISHED=#{isPublished,jdbcType=VARCHAR},
			PUBLISHED_BY=#{publishedBy,jdbcType=VARCHAR},
			PUBLISH_TIME=SYSDATE()
		where TABLE_ID=#{tableId}
    </update>
    
    <update id="publishSubBpmFormTable" parameterType="com.casic27.platform.bpm.entity.BpmFormTable">
    	UPDATE BPM_FORM_TABLE SET
			IS_PUBLISHED=#{isPublished,jdbcType=VARCHAR},
			PUBLISHED_BY=#{publishedBy,jdbcType=VARCHAR},
			PUBLISH_TIME=SYSDATE()
		where MAIN_TABLE_ID=#{tableId}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteBpmFormTable" parameterType="String">
     	DELETE FROM BPM_FORM_TABLE WHERE TABLE_ID=#{id}
    </delete>
    
    <!-- 根据条件统计记录数 -->
	<select id="countBpmFormTable" parameterType="com.casic27.platform.bpm.entity.BpmFormTable" resultType="int">
    	SELECT COUNT(1) FROM BPM_FORM_TABLE WHERE 1=1
    	<if test="tableId != null and tableId != ''">
    		AND	TABLE_ID != #{tableId}
    	</if>
    </select>
    
    <select id="getAllTables" resultType="hashmap">
	    SELECT T1.TABLE_NAME, T2.COMMENTS
				FROM USER_TABLES T1, USER_TAB_COMMENTS T2
				WHERE T1.TABLE_NAME = T2.TABLE_NAME
	</select>
	
	<select id="getTableColumns" resultType="hashmap">
		SELECT T1.TABLE_NAME,
		       T1.COLUMN_NAME,
		       T1.DATA_TYPE,
		       T1.CHAR_LENGTH,
		       T1.DATA_PRECISION,
		       T1.DATA_SCALE,
		       T1.NULLABLE,
		       T1.COLUMN_ID,
		       T2.COMMENTS
		  FROM USER_TAB_COLS T1, USER_COL_COMMENTS T2
		 WHERE T1.TABLE_NAME = T2.TABLE_NAME
		   AND T2.COLUMN_NAME = T1.COLUMN_NAME
		   AND T1.TABLE_NAME = #{tableName}
		 ORDER BY COLUMN_ID
	</select>
</mapper>