<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.bpm.dao.IBpmDefinitionMapper">
	<resultMap id="bpmDefinitionMapper" type="com.casic27.platform.bpm.entity.BpmDefinition"> 
			<result property="defId" column="DEF_ID" />
			<result property="typeId" column="TYPE_ID" /> 
			<result property="subject" column="SUBJECT" />
			<result property="defKey" column="DEF_KEY" />
			<result property="instNameRule" column="INST_NAME_RULE" />
			<result property="description" column="DESCRIPTION" />
			<result property="status" column="STATUS" />
			<result property="defXml" column="DEF_XML" />
			<result property="actDefId" column="ACT_DEF_ID"/>
			<result property="actDefKey" column="ACT_DEF_KEY"/>
			<result property="actDeployId" column="ACT_DEPLOY_ID"/>
			<result property="createTime" column="CREATE_TIME" />
			<result property="creator" column="CREATOR" />
			<result property="modifyTime" column="MODIFY_TIME" />
			<result property="modifyUser" column="MODIFY_USER" />
			<result property="toFirstNode" column="TO_FIRST_NODE" />
			<result property="version" column="VERSION" />
			<result property="catalogName" column="CATALOG_NAME" />
			<result property="usable" column="USABLE" />
			<result property="directStart" column="DIRECT_START" />
			<result property="sameExecutorJump" column="SAME_EXECUTOR_JUMP" />
			<result property="isMain" column="IS_MAIN" />
			<result property="parentDefId" column="PARENT_DEF_ID" />
	</resultMap>
	<!--查询(不分页)-->
	<select id="findBpmDefinition" parameterType="hashmap" resultMap="bpmDefinitionMapper">
		SELECT T1.DEF_ID,
		       T1.TYPE_ID,
		       T1.SUBJECT,
		       T1.DEF_KEY,
		       T1.INST_NAME_RULE,
		       T1.DESCRIPTION,
		       T1.STATUS,
		       T1.ACT_DEF_ID,
		       T1.ACT_DEF_KEY,
		       T1.ACT_DEPLOY_ID,
		       T1.CREATE_TIME,
		       T1.CREATOR,
		       T1.MODIFY_TIME,
		       T1.MODIFY_USER,
		       T1.TO_FIRST_NODE,
		       T1.PARENT_DEF_ID,
		       T1.IS_MAIN,
		       T1.VERSION,
		       T1.USABLE,
		       T1.DIRECT_START,
		       T1.SAME_EXECUTOR_JUMP,
		       T2.CATALOG_NAME
		  FROM BPM_DEFINITION T1
		  LEFT JOIN BPM_CATALOG T2 ON T1.TYPE_ID = T2.ID
		 WHERE 1=1
		 	<if test="isMain!=null and isMain!=''">
		 		AND T1.IS_MAIN = #{isMain}
		 	</if>
			<if test="typeId != null and typeId != '' ">
				AND T1.TYPE_ID = #{typeId}
			</if>
			<if test="subject != null and subject != '' ">
				AND T1.SUBJECT LIKE '%'||#{subject}||'%'
			</if>
			<if test="defKey != null and defKey != '' ">
				AND T1.DEF_KEY LIKE '%'||#{defKey}||'%'
			</if>
			<if test="status != null and status != '' ">
				AND T1.STATUS = #{status}
			</if>
			<if test="usable != null and usable != '' ">
				AND T1.USABLE = #{usable}
			</if>
			<if test="parentDefId != null and parentDefId != ''">
				AND T1.PARENT_DEF_ID = #{parentDefId}
			</if>
			<if test="startTime != null">
				AND T1.CREATE_TIME >= #{startTime}
			</if>
			<if test="endTime != null">
				AND T1.CREATE_TIME &lt;= #{endTime}
			</if>
			ORDER BY MODIFY_TIME DESC
	</select>
	
	<!--根据Id进行查询-->
	<select id="getBpmDefinitionById" parameterType="String" resultMap="bpmDefinitionMapper">
		SELECT 
		       DEF_ID,
		       TYPE_ID,
		       SUBJECT,
		       DEF_KEY,
		       INST_NAME_RULE,
		       DESCRIPTION,
		       STATUS,
		       DEF_XML,
		       ACT_DEF_ID,
		       ACT_DEF_KEY,
		       ACT_DEPLOY_ID,
		       CREATE_TIME,
		       CREATOR,
		       MODIFY_TIME,
		       MODIFY_USER,
		       TO_FIRST_NODE,
		       PARENT_DEF_ID,
		       IS_MAIN,
		       VERSION,
		       USABLE,
		       DIRECT_START,
		       SAME_EXECUTOR_JUMP,
		       IS_MAIN
		FROM BPM_DEFINITION
		WHERE DEF_ID=#{id}
	</select>
	<select id="getBpmDefinitionByActDefId" parameterType="String" resultMap="bpmDefinitionMapper">
		SELECT 
		       DEF_ID,
		       TYPE_ID,
		       SUBJECT,
		       DEF_KEY,
		       INST_NAME_RULE,
		       DESCRIPTION,
		       STATUS,
		       DEF_XML,
		       ACT_DEF_ID,
		       ACT_DEF_KEY,
		       ACT_DEPLOY_ID,
		       CREATE_TIME,
		       CREATOR,
		       MODIFY_TIME,
		       MODIFY_USER,
		       TO_FIRST_NODE,
		       PARENT_DEF_ID,
		       IS_MAIN,
		       VERSION,
		       USABLE,
		       DIRECT_START,
		       SAME_EXECUTOR_JUMP,
		       IS_MAIN
		FROM BPM_DEFINITION
		WHERE ACT_DEF_ID=#{actDefId}
	</select>
	
	<select id="getBpmDefinitionByActDefKey" parameterType="String" resultMap="bpmDefinitionMapper">
		SELECT 
		       DEF_ID,
		       TYPE_ID,
		       SUBJECT,
		       DEF_KEY,
		       INST_NAME_RULE,
		       DESCRIPTION,
		       STATUS,
		       DEF_XML,
		       ACT_DEF_ID,
		       ACT_DEF_KEY,
		       ACT_DEPLOY_ID,
		       CREATE_TIME,
		       CREATOR,
		       MODIFY_TIME,
		       MODIFY_USER,
		       TO_FIRST_NODE,
		       PARENT_DEF_ID,
		       IS_MAIN,
		       VERSION,
		       USABLE,
		       DIRECT_START,
		       SAME_EXECUTOR_JUMP,
		       IS_MAIN
		FROM BPM_DEFINITION
		WHERE ACT_DEF_KEY=#{actDefKey}
	</select>
	
	<select id="getMainBpmDefinitionByKey" parameterType="String" resultMap="bpmDefinitionMapper">
		SELECT 
			   DEF_ID,
		       TYPE_ID,
		       SUBJECT,
		       DEF_KEY,
		       INST_NAME_RULE,
		       DESCRIPTION,
		       STATUS,
		       DEF_XML,
		       ACT_DEF_ID,
		       ACT_DEF_KEY,
		       ACT_DEPLOY_ID,
		       CREATE_TIME,
		       CREATOR,
		       MODIFY_TIME,
		       MODIFY_USER,
		       TO_FIRST_NODE,
		       PARENT_DEF_ID,
		       IS_MAIN,
		       VERSION,
		       USABLE,
		       DIRECT_START,
		       SAME_EXECUTOR_JUMP,
		       IS_MAIN
		FROM BPM_DEFINITION
		WHERE DEF_KEY=#{defKey}
		AND IS_MAIN = '1'
	</select>
	
	<select id="getByActDefId" parameterType="String" resultMap="bpmDefinitionMapper">
		SELECT 
		       DEF_ID,
		       TYPE_ID,
		       SUBJECT,
		       DEF_KEY,
		       INST_NAME_RULE,
		       DESCRIPTION,
		       STATUS,
		       DEF_XML,
		       ACT_DEF_ID,
		       ACT_DEF_KEY,
		       ACT_DEPLOY_ID,
		       CREATE_TIME,
		       CREATOR,
		       MODIFY_TIME,
		       MODIFY_USER,
		       TO_FIRST_NODE,
		       PARENT_DEF_ID,
		       IS_MAIN,
		       VERSION,
		       USABLE,
		       DIRECT_START,
		       SAME_EXECUTOR_JUMP,
		       IS_MAIN
		FROM BPM_DEFINITION
		WHERE ACT_DEF_ID=#{actDefId}
	</select>
	
	<select id="getByActDefKeyIsMain" parameterType="String" resultMap="bpmDefinitionMapper">
		SELECT 
			   DEF_ID,
		       TYPE_ID,
		       SUBJECT,
		       DEF_KEY,
		       INST_NAME_RULE,
		       DESCRIPTION,
		       STATUS,
		       DEF_XML,
		       ACT_DEF_ID,
		       ACT_DEF_KEY,
		       ACT_DEPLOY_ID,
		       CREATE_TIME,
		       CREATOR,
		       MODIFY_TIME,
		       MODIFY_USER,
		       TO_FIRST_NODE,
		       PARENT_DEF_ID,
		       IS_MAIN,
		       VERSION,
		       USABLE,
		       DIRECT_START,
		       SAME_EXECUTOR_JUMP,
		       IS_MAIN
		FROM BPM_DEFINITION
		WHERE ACT_DEF_KEY=#{actDefKey}
		AND IS_MAIN = #{isMain}
	</select>
	
	<!--新增-->
	<insert id="addBpmDefinition" parameterType="com.casic27.platform.bpm.entity.BpmDefinition">
		INSERT INTO BPM_DEFINITION(
			   DEF_ID,
		       TYPE_ID,
		       SUBJECT,
		       DEF_KEY,
		       INST_NAME_RULE,
		       DESCRIPTION,
		       STATUS,
		       DEF_XML,
		       ACT_DEF_ID,
		       ACT_DEF_KEY,
		       ACT_DEPLOY_ID,
		       CREATE_TIME,
		       CREATOR,
		       MODIFY_TIME,
		       MODIFY_USER,
		       TO_FIRST_NODE,
		       PARENT_DEF_ID,
		       IS_MAIN,
		       VERSION,
		       USABLE,
		       DIRECT_START,
		       SAME_EXECUTOR_JUMP
		 )
		values(
				#{defId,jdbcType=VARCHAR},
				#{typeId,jdbcType=VARCHAR},
				#{subject,jdbcType=VARCHAR},
				#{defKey,jdbcType=VARCHAR},
				#{instNameRule,jdbcType=VARCHAR},
				#{description,jdbcType=VARCHAR},
				#{status,jdbcType=VARCHAR},
				#{defXml,jdbcType=VARCHAR},
				#{actDefId,jdbcType=VARCHAR},
				#{actDefKey,jdbcType=VARCHAR},
				#{actDeployId,jdbcType=VARCHAR},
				SYSDATE,
				#{creator,jdbcType=VARCHAR},
				SYSDATE,
				#{modifyUser,jdbcType=VARCHAR},
				#{toFirstNode,jdbcType=VARCHAR},
				#{parentDefId,jdbcType=VARCHAR},
				#{isMain,jdbcType=VARCHAR},
				#{version,jdbcType=INTEGER},
				#{usable,jdbcType=INTEGER},
				#{directStart,jdbcType=VARCHAR},
				#{sameExecutorJump,jdbcType=VARCHAR}
		 )
    </insert>
    
    <!--修改DesignXml-->
    <update id="updateBpmDefinition" parameterType="com.casic27.platform.bpm.entity.BpmDefinition">
		UPDATE BPM_DEFINITION SET
			TYPE_ID=#{typeId,jdbcType=VARCHAR},
			SUBJECT=#{subject,jdbcType=VARCHAR},
			DEF_KEY=#{defKey,jdbcType=VARCHAR},
			INST_NAME_RULE = #{instNameRule,jdbcType=VARCHAR},
			DESCRIPTION = #{description,jdbcType=VARCHAR},
			STATUS = #{status,jdbcType=VARCHAR},
			DEF_XML=#{defXml,jdbcType=VARCHAR},
			ACT_DEF_ID = #{actDefId,jdbcType=VARCHAR},
    		ACT_DEF_KEY = #{actDefKey,jdbcType=VARCHAR},
    		ACT_DEPLOY_ID = #{actDeployId,jdbcType=VARCHAR},
    		CREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
    		CREATOR = #{creator, jdbcType=VARCHAR},
    		MODIFY_TIME=SYSDATE,
			MODIFY_USER=#{modifyUser,jdbcType=VARCHAR},
			TO_FIRST_NODE = #{toFirstNode,jdbcType=VARCHAR},
			PARENT_DEF_ID = #{parentDefId,jdbcType=VARCHAR},
			IS_MAIN = #{isMain,jdbcType=VARCHAR},
			VERSION = #{version,jdbcType=INTEGER},
			USABLE = #{usable,jdbcType=VARCHAR},
			DIRECT_START = #{directStart,jdbcType=VARCHAR},
			SAME_EXECUTOR_JUMP = #{sameExecutorJump,jdbcType=VARCHAR}
		WHERE DEF_ID=#{defId}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteBpmDefinition" parameterType="String">
     	DELETE FROM BPM_DEFINITION WHERE DEF_ID=#{id}
    </delete>
    
    <!-- 根据条件统计记录数 -->
	<select id="countBpmDefinition" parameterType="com.casic27.platform.bpm.entity.BpmDefinition" resultType="int">
    	SELECT COUNT(1) FROM BPM_DEFINITION WHERE 1=1
    	<if test="defId != null and defId != ''">
    		AND	DEF_ID != #{defId}
    	</if>
    	<if test="defKey!=null and defKey!=''">
    		AND DEF_KEY = #{defKey}
    	</if>
    	<if test="typeId!=null and typeId!=''">
    		AND TYPE_ID = #{typeId}
    	</if>
    </select>
    
    <update id="updateUsable">
    	UPDATE BPM_DEFINITION SET
    		USABLE = #{usable,jdbcType=VARCHAR}
    	WHERE DEF_ID = #{defId}
    </update>
    
    <update id="updateSubVersions" parameterType="java.util.Map">
		UPDATE BPM_DEFINITION SET PARENT_DEF_ID=#{parentDefId}, IS_MAIN='0'
		WHERE DEF_KEY = #{defKey}
	</update>
</mapper>