<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.bpm.dao.IBpmProStatusMapper">
	<resultMap id="bpmProStatusMapper" type="com.casic27.platform.bpm.entity.BpmProStatus"> 
			<result property="id" column="ID" />  
			<result property="actInstId" column="ACT_INST_ID" />  
			<result property="nodeId" column="NODE_ID" />  
			<result property="nodeName" column="NODE_NAME" />  
			<result property="status" column="STATUS" />  
			<result property="lastUpdateTime" column="LAST_UPDATE_TIME" />  
			<result property="actDefId" column="ACT_DEF_ID" />  
			<result property="defId" column="DEF_ID" />  
	</resultMap>
	
	<select id="getByInstNodeId" parameterType="hashmap" resultMap="bpmProStatusMapper">
		SELECT * FROM BPM_PRO_STATUS WHERE ACT_INST_ID=#{actInstId} AND NODE_ID=#{nodeId}
	
	</select>
	
	
	<select id="getByActInstanceId" parameterType="String" resultMap="bpmProStatusMapper">
		SELECT *
		FROM BPM_PRO_STATUS WHERE ACT_INST_ID=#{actInstId}
	</select>
	
	<!--新增-->
	<insert id="addBpmProStatus" parameterType="com.casic27.platform.bpm.entity.BpmProStatus">
		INSERT INTO BPM_PRO_STATUS(
				ID,
				ACT_INST_ID,
				NODE_ID,
				NODE_NAME,
				STATUS,
				LAST_UPDATE_TIME,
				ACT_DEF_ID,
				DEF_ID
		 )
		values(
				#{id,jdbcType=VARCHAR},
				#{actInstId,jdbcType=VARCHAR},
				#{nodeId,jdbcType=VARCHAR},
				#{nodeName,jdbcType=VARCHAR},
				#{status,jdbcType=NUMERIC},
				#{lastUpdateTime,jdbcType=TIMESTAMP},
				#{actDefId,jdbcType=VARCHAR},
				#{defId,jdbcType=VARCHAR}
		 )
    </insert>
    
    <!--修改-->
    <update id="updateBpmProStatus" parameterType="com.casic27.platform.bpm.entity.BpmProStatus">
		UPDATE BPM_PRO_STATUS SET
			ACT_INST_ID=#{actInstId,jdbcType=VARCHAR},
			NODE_ID=#{nodeId,jdbcType=VARCHAR},
			NODE_NAME=#{nodeName,jdbcType=VARCHAR},
			STATUS=#{status,jdbcType=NUMERIC},
			LAST_UPDATE_TIME=#{lastUpdateTime,jdbcType=TIMESTAMP},
			ACT_DEF_ID=#{actDefId,jdbcType=VARCHAR},
			DEF_ID=#{defId,jdbcType=VARCHAR}
		where ID=#{id}
    </update>
    <!-- 修改状态 -->
    <update id="updStatus" parameterType="com.casic27.platform.bpm.entity.BpmProStatus">
		UPDATE BPM_PRO_STATUS SET 
			STATUS=#{status,jdbcType=NUMERIC},
			LAST_UPDATE_TIME=#{lastUpdateTime,jdbcType=TIMESTAMP}  
		WHERE ACT_INST_ID=#{actInstId} AND NODE_ID=#{nodeId}
	</update>
	<!-- 物理删除 -->
    <delete id="deleteBpmProStatus" parameterType="String">
     	DELETE FROM BPM_PRO_STATUS WHERE ID=#{id}
    </delete>
    
    <!-- 根据条件统计记录数 -->
	<select id="countBpmProStatus" parameterType="com.casic27.platform.bpm.entity.BpmProStatus" resultType="int">
    	SELECT COUNT(1) FROM BPM_PRO_STATUS WHERE 1=1
    	<if test="id != null and id != ''">
    		AND	ID != #{id}
    	</if>
    </select>
    
    <delete id="delByActDefId" parameterType="String">
     	DELETE FROM BPM_PRO_STATUS WHERE ACT_DEF_ID=#{actDefId}
    </delete>
    
    <delete id="delByActInstId" parameterType="String">
     	DELETE FROM BPM_PRO_STATUS WHERE ACT_INST_ID=#{actInstId}
    </delete>
    
</mapper>