<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.bpm.dao.IBpmFormTemplateMapper">
	<resultMap id="bpmFormTemplateMapper" type="com.casic27.platform.bpm.entity.BpmFormTemplate"> 
			<result property="templateId" column="TEMPLATE_ID" />  
			<result property="templateName" column="TEMPLATE_NAME" />  
			<result property="templateType" column="TEMPLATE_TYPE" />  
			<result property="macroTemplateAlias" column="MACRO_TEMPLATE_ALIAS" />  
			<result property="html" column="HTML" />  
			<result property="templateDesc" column="TEMPLATE_DESC" />  
			<result property="canEdit" column="CAN_EDIT" />  
			<result property="alias" column="ALIAS" />  
	</resultMap>
	<!--查询(不分页)-->
	<select id="findBpmFormTemplate" parameterType="hashmap" resultMap="bpmFormTemplateMapper">
		SELECT 
				TEMPLATE_ID,
				TEMPLATE_NAME,
				TEMPLATE_TYPE,
				MACRO_TEMPLATE_ALIAS,
				TEMPLATE_DESC,
				CAN_EDIT,
				ALIAS
		FROM BPM_FORM_TEMPLATE
		WHERE 1 = 1 
			<if test="templateName != null and templateName != '' ">
				AND TEMPLATE_NAME = #{templateName}
			</if>
			<if test="templateType != null and templateType != '' ">
				AND TEMPLATE_TYPE = #{templateType}
			</if>
			ORDER BY TEMPLATE_NAME
	</select>
	
	<!--查询(分页)-->
	<select id="findBpmFormTemplatePaging" parameterType="hashmap" resultMap="bpmFormTemplateMapper">
		SELECT 
				TEMPLATE_ID,
				TEMPLATE_NAME,
				TEMPLATE_TYPE,
				MACRO_TEMPLATE_ALIAS,
				HTML,
				TEMPLATE_DESC,
				CAN_EDIT,
				ALIAS
		FROM BPM_FORM_TEMPLATE
		WHERE 1 = 1 
			<if test="templateName != null and templateName != '' ">
				AND TEMPLATE_NAME = #{templateName}
			</if>
			<if test="templateType != null and templateType != '' ">
				AND TEMPLATE_TYPE = #{templateType}
			</if>
			ORDER BY TEMPLATE_NAME
	</select>
	
	<!--根据Id进行查询-->
	<select id="getBpmFormTemplateById" parameterType="String" resultMap="bpmFormTemplateMapper">
		SELECT 
				TEMPLATE_ID,
				TEMPLATE_NAME,
				TEMPLATE_TYPE,
				MACRO_TEMPLATE_ALIAS,
				HTML,
				TEMPLATE_DESC,
				CAN_EDIT,
				ALIAS
		FROM BPM_FORM_TEMPLATE
		WHERE TEMPLATE_ID=#{id}
	</select>
	
	
	<!--根据别名获取模板-->
	<select id="getBpmFormTemplateByAlias" parameterType="String" resultMap="bpmFormTemplateMapper">
		SELECT 
				TEMPLATE_ID,
				TEMPLATE_NAME,
				TEMPLATE_TYPE,
				MACRO_TEMPLATE_ALIAS,
				HTML,
				TEMPLATE_DESC,
				CAN_EDIT,
				ALIAS
		FROM BPM_FORM_TEMPLATE
		WHERE ALIAS=#{alias}
	</select>
	
	<!--新增-->
	<insert id="addBpmFormTemplate" parameterType="com.casic27.platform.bpm.entity.BpmFormTemplate">
		INSERT INTO BPM_FORM_TEMPLATE(
				TEMPLATE_ID,
				TEMPLATE_NAME,
				TEMPLATE_TYPE,
				MACRO_TEMPLATE_ALIAS,
				HTML,
				TEMPLATE_DESC,
				CAN_EDIT,
				ALIAS
		 )
		values(
				#{templateId,jdbcType=VARCHAR},
				#{templateName,jdbcType=VARCHAR},
				#{templateType,jdbcType=VARCHAR},
				#{macroTemplateAlias,jdbcType=VARCHAR},
				#{html,jdbcType=VARCHAR},
				#{templateDesc,jdbcType=VARCHAR},
				#{canEdit,jdbcType=VARCHAR},
				#{alias,jdbcType=VARCHAR}
		 )
    </insert>
    
    <!--修改-->
    <update id="updateBpmFormTemplate" parameterType="com.casic27.platform.bpm.entity.BpmFormTemplate">
		UPDATE BPM_FORM_TEMPLATE SET
			TEMPLATE_NAME=#{templateName,jdbcType=VARCHAR},
			TEMPLATE_TYPE=#{templateType,jdbcType=VARCHAR},
			MACRO_TEMPLATE_ALIAS=#{macroTemplateAlias,jdbcType=VARCHAR},
			HTML=#{html,jdbcType=VARCHAR},
			TEMPLATE_DESC=#{templateDesc,jdbcType=VARCHAR},
			CAN_EDIT=#{canEdit,jdbcType=VARCHAR},
			ALIAS=#{alias,jdbcType=VARCHAR}
		where TEMPLATE_ID=#{templateId}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteBpmFormTemplate" parameterType="String">
     	DELETE FROM BPM_FORM_TEMPLATE WHERE TEMPLATE_ID=#{id}
    </delete>
    
    <!-- 根据条件统计记录数 -->
	<select id="countBpmFormTemplate" parameterType="com.casic27.platform.bpm.entity.BpmFormTemplate" resultType="int">
    	SELECT COUNT(1) FROM BPM_FORM_TEMPLATE WHERE 1=1
    	<if test="templateId != null and templateId != ''">
    		AND	TEMPLATE_ID != #{templateId}
    	</if>
    	<if test="alias != null and alias != ''">
    		AND	ALIAS = #{alias}
    	</if>
    </select>
    
</mapper>