<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.bpm.dao.IBpmFormDefMapper">
	<resultMap id="bpmFormDefMapper" type="com.casic27.platform.bpm.entity.BpmFormDef"> 
			<result property="formDefId" column="FORM_DEF_ID" />  
			<result property="catalogId" column="CATALOG_ID" />  
			<result property="formKey" column="FORM_KEY" />  
			<result property="subject" column="SUBJECT" />  
			<result property="formDesc" column="FORM_DESC" />
			<result property="tableId" column="TABLE_ID" />
			<result property="template" column="TEMPLATE" />
			<result property="html" column="HTML" />  
			<result property="versionNo" column="VERSION_NO" />  
			<result property="isDefault" column="IS_DEFAULT" />  
			<result property="isPublished" column="IS_PUBLISHED" />  
			<result property="publishedBy" column="PUBLISHED_BY" />  
			<result property="publishTime" column="PUBLISH_TIME" />  
			<result property="createUser" column="CREATE_USER" />  
			<result property="createTime" column="CREATE_TIME" />  
			<result property="modifyUser" column="MODIFY_USER" />  
			<result property="modifyTime" column="MODIFY_TIME" />  
	</resultMap>
	<!--查询(不分页)-->
	<select id="findBpmFormDef" parameterType="hashmap" resultMap="bpmFormDefMapper">
		SELECT 
				FORM_DEF_ID,
				CATALOG_ID,
				FORM_KEY,
				SUBJECT,
				FORM_DESC,
				TABLE_ID,
				TEMPLATE,
				HTML,
				VERSION_NO,
				IS_DEFAULT,
				IS_PUBLISHED,
				PUBLISHED_BY,
				PUBLISH_TIME,
				CREATE_USER,
				CREATE_TIME,
				MODIFY_USER,
				MODIFY_TIME
		FROM BPM_FORM_DEF
		WHERE 1 = 1 
			<if test="catalogId != null and catalogId != '' ">
				AND CATALOG_ID = #{catalogId}
			</if>
			<if test="formKey != null and formKey != '' ">
				AND FORM_KEY = #{formKey}
			</if>
			<if test="subject != null and subject != '' ">
				AND SUBJECT = #{subject}
			</if>
	
	</select>
	
	<!--查询(分页)-->
	<select id="findBpmFormDefPaging" parameterType="hashmap" resultMap="bpmFormDefMapper">
		SELECT 
				FORM_DEF_ID,
				CATALOG_ID,
				FORM_KEY,
				SUBJECT,
				FORM_DESC,
				TABLE_ID,
				TEMPLATE,
				HTML,
				VERSION_NO,
				IS_DEFAULT,
				IS_PUBLISHED,
				PUBLISHED_BY,
				PUBLISH_TIME,
				CREATE_USER,
				CREATE_TIME,
				MODIFY_USER,
				MODIFY_TIME
		FROM BPM_FORM_DEF
		WHERE 1 = 1 
			<if test="catalogId != null and catalogId != '' ">
				AND CATALOG_ID = #{catalogId}
			</if>
			<if test="formKey != null and formKey != '' ">
				AND FORM_KEY = #{formKey}
			</if>
			<if test="subject != null and subject != '' ">
				AND SUBJECT = #{subject}
			</if>
	</select>
	
	<!--根据Id进行查询-->
	<select id="getBpmFormDefById" parameterType="String" resultMap="bpmFormDefMapper">
		SELECT 
				FORM_DEF_ID,
				CATALOG_ID,
				FORM_KEY,
				SUBJECT,
				FORM_DESC,
				TABLE_ID,
				TEMPLATE,
				HTML,
				VERSION_NO,
				IS_DEFAULT,
				IS_PUBLISHED,
				PUBLISHED_BY,
				PUBLISH_TIME,
				CREATE_USER,
				CREATE_TIME,
				MODIFY_USER,
				MODIFY_TIME
		FROM BPM_FORM_DEF
		WHERE FORM_DEF_ID=#{id}
	</select>
	
	<!--新增-->
	<insert id="addBpmFormDef" parameterType="com.casic27.platform.bpm.entity.BpmFormDef">
		INSERT INTO BPM_FORM_DEF(
				FORM_DEF_ID,
				CATALOG_ID,
				FORM_KEY,
				SUBJECT,
				FORM_DESC,
				TABLE_ID,
				TEMPLATE,
				HTML,
				VERSION_NO,
				IS_DEFAULT,
				IS_PUBLISHED,
				PUBLISHED_BY,
				PUBLISH_TIME,
				CREATE_USER,
				CREATE_TIME,
				MODIFY_USER,
				MODIFY_TIME
		 )
		values(
				#{formDefId,jdbcType=VARCHAR},
				#{catalogId,jdbcType=VARCHAR},
				#{formKey,jdbcType=VARCHAR},
				#{subject,jdbcType=VARCHAR},
				#{formDesc,jdbcType=VARCHAR},
				#{tableId,jdbcType=VARCHAR},
				#{template,jdbcType=VARCHAR},
				#{html,jdbcType=VARCHAR},
				#{versionNo,jdbcType=INTEGER},
				#{isDefault,jdbcType=VARCHAR},
				#{isPublished,jdbcType=VARCHAR},
				#{publishedBy,jdbcType=VARCHAR},
				#{publishTime,jdbcType=TIMESTAMP},
				#{createUser,jdbcType=VARCHAR},
				SYSDATE,
				#{modifyUser,jdbcType=VARCHAR},
				SYSDATE
		 )
    </insert>
    
    <!--修改-->
    <update id="updateBpmFormDef" parameterType="com.casic27.platform.bpm.entity.BpmFormDef">
		UPDATE BPM_FORM_DEF SET
			CATALOG_ID=#{catalogId,jdbcType=VARCHAR},
			FORM_KEY=#{formKey,jdbcType=VARCHAR},
			SUBJECT=#{subject,jdbcType=VARCHAR},
			FORM_DESC=#{formDesc,jdbcType=VARCHAR},
			TABLE_ID=#{tableId,jdbcType=VARCHAR},
			TEMPLATE=#{template,jdbcType=VARCHAR},
			HTML=#{html,jdbcType=VARCHAR},
			VERSION_NO=#{versionNo,jdbcType=INTEGER},
			IS_DEFAULT=#{isDefault,jdbcType=VARCHAR},
			IS_PUBLISHED=#{isPublished,jdbcType=VARCHAR},
			PUBLISHED_BY=#{publishedBy,jdbcType=VARCHAR},
			PUBLISH_TIME=#{publishTime,jdbcType=TIMESTAMP},
			CREATE_USER=#{createUser,jdbcType=VARCHAR},
			CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
			MODIFY_USER=#{modifyUser,jdbcType=VARCHAR},
			MODIFY_TIME=SYSDATE
		where FORM_DEF_ID=#{formDefId}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteBpmFormDef" parameterType="String">
     	DELETE FROM BPM_FORM_DEF WHERE FORM_DEF_ID=#{id}
    </delete>
    
    <!-- 根据条件统计记录数 -->
	<select id="countBpmFormDef" parameterType="com.casic27.platform.bpm.entity.BpmFormDef" resultType="int">
    	SELECT COUNT(1) FROM BPM_FORM_DEF WHERE 1=1
    	<if test="formDefId != null and formDefId != ''">
    		AND	FORM_DEF_ID != #{formDefId}
    	</if>
    	<if test="formKey != null and formKey != ''">
    		AND	FORM_KEY = #{formKey}
    	</if>
    </select>
    
</mapper>