<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.bpm.dao.IBpmRunLogMapper">
	<resultMap id="bpmRunLogMapper" type="com.casic27.platform.bpm.entity.BpmRunLog"> 
			<result property="id" column="ID" />  
			<result property="userId" column="USER_ID" />  
			<result property="userName" column="USER_NAME" />  
			<result property="createTime" column="CREATE_TIME" />  
			<result property="operatorType" column="OPERATOR_TYPE" />  
			<result property="memo" column="MEMO" />  
			<result property="runId" column="RUN_ID" />  
			<result property="processSubject" column="PROCESS_SUBJECT" />  
	</resultMap>
	<!--查询(不分页)-->
	<select id="findBpmRunLog" parameterType="hashmap" resultMap="bpmRunLogMapper">
		SELECT 
				ID,
				USER_ID,
				USER_NAME,
				CREATE_TIME,
				OPERATOR_TYPE,
				MEMO,
				RUN_ID,
				PROCESS_SUBJECT
		FROM BPM_RUN_LOG
		WHERE 1 = 1 
			<if test="userName != null and userName != '' ">
				AND USER_NAME = #{userName}
			</if>
			<if test="operatorType != null and operatorType != '' ">
				AND OPERATOR_TYPE = #{operatorType}
			</if>
			<if test="runId != null and runId != '' ">
				AND RUN_ID = #{runId}
			</if>
		ORDER BY CREATE_TIME  DESC
	</select>
	
	<!--查询(分页)-->
	<select id="findBpmRunLogPaging" parameterType="hashmap" resultMap="bpmRunLogMapper">
		SELECT 
				ID,
				USER_ID,
				USER_NAME,
				CREATE_TIME,
				OPERATOR_TYPE,
				MEMO,
				RUN_ID,
				PROCESS_SUBJECT
		FROM BPM_RUN_LOG
		WHERE 1 = 1 
			<if test="userName != null and userName != '' ">
				AND USER_NAME = #{userName}
			</if>
			<if test="operatorType != null and operatorType != '' ">
				AND OPERATOR_TYPE = #{operatorType}
			</if>
			<if test="runId != null and runId != '' ">
				AND RUN_ID = #{runId}
			</if>
			ORDER BY CREATE_TIME  DESC
	</select>
	
	<!--根据Id进行查询-->
	<select id="getBpmRunLogById" parameterType="String" resultMap="bpmRunLogMapper">
		SELECT 
				ID,
				USER_ID,
				USER_NAME,
				CREATE_TIME,
				OPERATOR_TYPE,
				MEMO,
				RUN_ID,
				PROCESS_SUBJECT
		FROM BPM_RUN_LOG
		WHERE ID=#{id}
	</select>
	
	<!--新增-->
	<insert id="addBpmRunLog" parameterType="com.casic27.platform.bpm.entity.BpmRunLog">
		INSERT INTO BPM_RUN_LOG(
				ID,
				USER_ID,
				USER_NAME,
				CREATE_TIME,
				OPERATOR_TYPE,
				MEMO,
				RUN_ID,
				PROCESS_SUBJECT
		 )
		values(
				#{id,jdbcType=VARCHAR},
				#{userId,jdbcType=VARCHAR},
				#{userName,jdbcType=VARCHAR},
				#{createTime,jdbcType=TIMESTAMP},
				#{operatorType,jdbcType=NUMERIC},
				#{memo,jdbcType=VARCHAR},
				#{runId,jdbcType=VARCHAR},
				#{processSubject,jdbcType=VARCHAR}
		 )
    </insert>
    
    <!--修改-->
    <update id="updateBpmRunLog" parameterType="com.casic27.platform.bpm.entity.BpmRunLog">
		UPDATE BPM_RUN_LOG SET
			USER_ID=#{userId,jdbcType=VARCHAR},
			USER_NAME=#{userName,jdbcType=VARCHAR},
			CREATE_TIME=#{createTime,jdbcType=TIMESTAMP},
			OPERATOR_TYPE=#{operatorType,jdbcType=NUMERIC},
			MEMO=#{memo,jdbcType=VARCHAR},
			RUN_ID=#{runId,jdbcType=VARCHAR},
			PROCESS_SUBJECT=#{processSubject,jdbcType=VARCHAR}
			where ID=#{id}
    </update>
    
	<!-- 物理删除 -->
    <delete id="delById" parameterType="String">
     	DELETE FROM BPM_RUN_LOG WHERE ID=#{id}
    </delete>
</mapper>