<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.casic27.platform.bpm.dao.ITaskUserMapper">
	<resultMap id="taskUserMapper" type="com.casic27.platform.bpm.entity.TaskUser">
		<id property="id" column="ID_" />
		<result property="reversion" column="REV_" />
		<result property="groupId" column="GROUP_ID_" />
		<result property="type" column="TYPE_" />
		<result property="userId" column="USER_ID_" />
		<result property="taskId" column="TASK_ID_" />
		<result property="procInstId" column="PROC_INST_ID_" />
		<result property="procDefId" column="PROC_DEF_ID_" />
	</resultMap>
	
	<sql id="columns">
		ID_,REV_,GROUP_ID_,TYPE_,USER_ID_,TASK_ID_,PROC_INST_ID_,PROC_DEF_ID_
	</sql>

	<insert id="addTaskUser" parameterType="com.casic27.platform.bpm.entity.TaskUser">
		INSERT INTO ACT_RU_IDENTITYLINK
		(<include refid="columns"/>)
		VALUES
		(#{id},#{reversion},#{groupId},#{type},#{userId},#{taskId},#{procInstId},#{procDefId})
	</insert>
	
	<select id="getByTaskId" resultMap="taskUserMapper">
		select * from ACT_RU_IDENTITYLINK t where t.TASK_ID_=#{taskId}
	</select>
	
	<delete id="delByInstanceId">
		DELETE  FROM ACT_RU_IDENTITYLINK A WHERE  A.PROC_INST_ID_ = #{instanceId}
	</delete>
	
	<delete id="delByActDefId">
		DELETE  FROM ACT_RU_IDENTITYLINK A WHERE  A.PROC_DEF_ID_  = #{actDefId}
	</delete>
</mapper>
