<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.common.authorization.dao.IAuthoriztationMapper">
	<select id="getAssignedRoleList" parameterType="String" resultType="com.kcp.platform.common.role.entity.Role">
		SELECT T.ZJID   as zjid,
		       T.JSMC   as jsmc,
		       T.JSLX   as jslx,
		       T.JSJB   as jsjb,
		       T.SYBZ   as sybz,
		       T.BZ     as bz,
		       T.CJYH   as cjyh,
		       t.GXYH   as gxyh,
		       T.JLXZSJ as jlxzsj,
		       T.JLXGSJ as jlxgsj,
		       T.JLSCSJ as jlscsj,
		       T.JLYXZT as jlyxzt,
		       T.JSDM   as jsdm
		  FROM (SELECT DISTINCT T1.*
		          FROM TB_JSXX T1, TB_YHXX_R_JSXX T2
		         WHERE T1.ZJID = T2.JSXX_ZJID
		           AND T2.YHXX_ZJID = #{userId}
		        UNION
		        SELECT DISTINCT T3.*
		          FROM TB_JSXX T3, TB_DWXX T4, TB_DWXX_R_JSXX T5, TB_YHXX T6
		         WHERE T3.ZJID = T4.ZJID
		           AND T4.ZJID = T5.DWXX_ZJID
		           AND T5.DWXX_ZJID = T6.ZJID
		           AND T6.ZJID = #{userId}) T
		 WHERE T.JLYXZT = 1
		   AND T.SYBZ = 1
	</select>
	
	<select id="getAssignedFuncList" parameterType="String" resultType="com.kcp.platform.common.func.entity.Function">
		SELECT *
		  FROM TB_GNXX
		 WHERE SYBZ = '1'
		   AND JLYXZT = '1'
		   AND ZJID IN
		       (SELECT GNXX_ZJID
		          FROM TB_JSXX_R_GNXX
		         WHERE JSXX_ZJID IN (SELECT T1.ZJID
		                               FROM TB_JSXX T1, TB_YHXX_R_JSXX T2
		                              WHERE T1.ZJID = T2.JSXX_ZJID
		                                AND T1.SYBZ = '1'
		                                AND T1.JLYXZT = '1'
		                                AND T2.YHXX_ZJID = #{userId}
		                             UNION
		                             SELECT T1.ZJID
		                               FROM TB_JSXX T1, TB_DWXX_R_JSXX T2, TB_YHXX T3
		                              WHERE T3.SSDW_ZJID = T2.DWXX_ZJID
		                                AND T2.JSXX_ZJID = T1.ZJID
		                                AND T1.SYBZ = '1'
		                                AND T1.JLYXZT = '1'
		                                AND T3.ZJID = #{userId}))
	</select>
	
	<select id="getAssignedMenuList" parameterType="String" resultType="com.kcp.platform.common.menu.entity.SysMenu">
		SELECT T.ZJID     AS zjId,
		       T.CDMC     AS cdmc,
		       T.CDJB     AS cdjb,
		       T.CDXH     AS cdxh,
		       T.SJCD     AS sjcd,
		       T.CDDZ     AS cddz,
		       T.SFZHYICD AS sfzhyicd,
		       T.SYBZ     AS sybz,
		       T.BZ       AS bz,
		       T.CJYH     AS cjyh,
		       T.GXYH     AS gxyh,
		       T.JLXZSJ   AS jlxzsj,
		       T.JLXGSJ   AS jlxgsj,
		       T.JLSCSJ   AS jlscsj,
		       T.JLYXZT   AS jlyxzt
		  FROM (SELECT *
				  FROM (SELECT DISTINCT *
				          FROM TB_CDXX
				        CONNECT BY PRIOR SJCD = ZJID
				         START WITH ZJID IN
				                    (SELECT DISTINCT T1.ZJID
				                       FROM TB_CDXX T1, TB_GNXX T2
				                      WHERE T2.CDXX_ZJID = T1.ZJID
				                        AND T1.SYBZ = '1'
				                        AND T1.JLYXZT = '1'
				                        AND T2.SYBZ = '1'
				                        AND T2.JLYXZT = '1'
				                        AND T2.ZJID IN
				                            (SELECT GNXX_ZJID
				                               FROM TB_JSXX_R_GNXX
				                              WHERE JSXX_ZJID IN
				                                    (SELECT T1.ZJID
				                                       FROM TB_JSXX T1, TB_YHXX_R_JSXX T2
				                                      WHERE T1.ZJID = T2.JSXX_ZJID
				                                        AND T1.SYBZ = '1'
				                                        AND T1.JLYXZT = '1'
				                                        AND T2.YHXX_ZJID = #{userId}
				                                     UNION
				                                     SELECT T1.ZJID
				                                       FROM TB_JSXX        T1,
				                                            TB_DWXX_R_JSXX T2,
				                                            TB_YHXX        T3
				                                      WHERE 
                                                    T3.SSDW_ZJID = T2.DWXX_ZJID
		                                            AND T2.JSXX_ZJID = T1.ZJID
				                                        AND T1.SYBZ = '1'
				                                        AND T1.JLYXZT = '1'
				                                        AND T3.ZJID = #{userId})))) A
				CONNECT BY PRIOR ZJID = SJCD
				 START WITH SJCD = 0
				 ORDER SIBLINGS BY TO_NUMBER(CDXH)) T
		 WHERE T.JLYXZT = 1
		   AND T.SYBZ = 1
	</select>
</mapper>