<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.common.authorization.dao.IOrgRoleMapper">
		<!-- 查询树形角色树,需关联单位功能信息表 -->
	<select id="getAssignedRoleList" parameterType="String" resultType="hashmap">
		SELECT ZJID AS ZJID, JSMC AS JSMC, JSDM AS JSDM
		   FROM TB_JSXX T1
		   WHERE T1.SYBZ = 1
		    AND T1.JLYXZT = 1
		     AND T1.JSJB >= #{jsjb}
		    AND EXISTS (SELECT ZJID
		           FROM TB_DWXX_R_JSXX T2
		          WHERE T2.JSXX_ZJID = T1.ZJID
		            AND T2.DWXX_ZJID =#{orgId})
	</select>
	
	<delete id="deleteOrgRoleByOrgId" parameterType="String">
		DELETE FROM TB_DWXX_R_JSXX WHERE DWXX_ZJID=#{orgId}
			AND JSXX_ZJID IN (SELECT ZJID FROM TB_JSXX WHERE JSJB >= #{jsjb})
	</delete>
	
	<insert id= "insertOrgFunc" parameterType="hashmap">     
		<selectKey   keyProperty="id" resultType= "String" order="BEFORE"> 
			SELECT SEQ_TB_DWXX_R_JSXX.NEXTVAL FROM DUAL 
		</selectKey>
		INSERT INTO TB_DWXX_R_JSXX(ZJID,DWXX_ZJID,JSXX_ZJID) VALUES 
		(#{id},#{orgId},#{roleId})
	</insert>
	
	<select id="queryAssignedOrgByRole" resultType="hashmap">
		SELECT T1.ZJID AS ZJID, T1.DWMC AS DWMC,(SELECT DWMC FROM TB_DWXX T3 WHERE T3.ZJID=T1.SJDW_ZJID) SJDW
			  FROM TB_DWXX T1,TB_DWXX_R_JSXX T2
			 WHERE T1.ZJID = T2.DWXX_ZJID  AND T1.JLYXZT = 1 AND T2.JSXX_ZJID=#{roleId} 
	</select>
	
	<delete id="deleteOrgRoleByRoleId" parameterType="String">
		DELETE FROM TB_DWXX_R_JSXX WHERE JSXX_ZJID=#{roleId}
	</delete>
</mapper>