<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.common.para.dao.IParaMapper">
	<resultMap id="paraMap"
		type="com.kcp.platform.common.para.entity.SysParameter">
		<result property="id" column="ID" />
		<result property="parmName" column="PARM_NAME" />
		<result property="parmCode" column="PARM_CODE" />
		<result property="parmValue" column="PARM_VALUE" />
		<result property="isUsed" column="IS_USED" />
		<result property="memo" column="MEMO" />
		<result property="createTime" column="CREATE_TIME" />
		<result property="updateTime" column="UPDATE_TIME" />
		<result property="deleteTime" column="DELETE_TIME" />
		<result property="createdUserId" column="CREATED_USER_ID" />
		<result property="updateUserId" column="UPDATE_USER_ID" />
		<result property="deleteUserId" column="DELETE_USER_ID" />
		<result property="status" column="STATUS" />
	</resultMap>

	<!-- 查询有效参数清单 -->
	<select id="queryParaList" parameterType="com.kcp.platform.common.para.entity.SysParameter"
		resultMap="paraMap">
		select * from TB_SYS_PARAMETER where 1 = 1
		<if test="parmName != null and parmName != ''">and parm_name like '%'||#{parmName}||'%'</if>
		<if test="parmCode != null and parmCode != ''">and parm_code like '%'||upper(#{parmCode})||'%'</if>
		<if test="status!=null and status''">and status = #{status}</if>
		<if test="isUsed != null and isUsed != ''">and is_used = #{isUsed}</if>
		<if test="id != null and id != ''">and id = #{id}</if>
		order by to_number(id)
	</select>

	<!-- 查询参数清单 -->
	<select id="getParaById" parameterType="java.lang.String"
		resultMap="paraMap">
		SELECT * FROM TB_SYS_PARAMETER WHERE id = #{zjId}
	</select>
	<!-- 查询参数 -->
	<select id="getParaByCsdm" parameterType="java.lang.String"
		resultMap="paraMap">
		SELECT * FROM TB_SYS_PARAMETER WHERE parm_code = #{csdm}
	</select>
	<!-- 查询参数清单 -->
	<select id="statisCount" parameterType="com.kcp.platform.common.para.entity.SysParameter"
		resultType="int">
		SELECT COUNT(1) FROM TB_SYS_PARAMETER WHERE upper(parm_code) =
		upper(#{parmCode})
		<if test="id != null and id != ''"> AND id != #{id}</if>
	</select>
	<!-- 新增 -->
	<insert id="insert" parameterType="com.kcp.platform.common.para.entity.SysParameter">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">
			SELECT SEQ_tb_sys_parameter.NEXTVAL FROM DUAL 
		</selectKey>
		INSERT INTO TB_SYS_PARAMETER(
		ID,
		PARM_NAME,
		PARM_CODE,
		PARM_VALUE,
		IS_USED,
		MEMO,
		CREATE_TIME,
		UPDATE_TIME,
		DELETE_TIME,
		CREATED_USER_ID,
		UPDATE_USER_ID,
		DELETE_USER_ID,
		STATUS
		)
		values(
		#{id,jdbcType=VARCHAR},
		#{parmName,jdbcType=VARCHAR},
		#{parmCode,jdbcType=VARCHAR},
		#{parmValue,jdbcType=VARCHAR},
		#{isUsed,jdbcType=VARCHAR},
		#{memo,jdbcType=VARCHAR},
		#{createTime,jdbcType=DATE},
		#{updateTime,jdbcType=DATE},
		#{deleteTime,jdbcType=DATE},
		#{createdUserId,jdbcType=VARCHAR},
		#{updateUserId,jdbcType=VARCHAR},
		#{deleteUserId,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR}
		)
	</insert>

	<!-- 修改 -->
	<update id="update" parameterType="com.kcp.platform.common.para.entity.SysParameter">
		UPDATE TB_SYS_PARAMETER SET
		PARM_NAME=#{parmName,jdbcType=VARCHAR},
		PARM_CODE=#{parmCode,jdbcType=VARCHAR},
		PARM_VALUE=#{parmValue,jdbcType=VARCHAR},
		IS_USED=#{isUsed,jdbcType=VARCHAR},
		MEMO=#{memo,jdbcType=VARCHAR},
		CREATE_TIME=#{createTime,jdbcType=DATE},
		UPDATE_TIME=#{updateTime,jdbcType=DATE},
		DELETE_TIME=#{deleteTime,jdbcType=DATE},
		CREATED_USER_ID=#{createdUserId,jdbcType=VARCHAR},
		UPDATE_USER_ID=#{updateUserId,jdbcType=VARCHAR},
		DELETE_USER_ID=#{deleteUserId,jdbcType=VARCHAR},
		STATUS=#{status,jdbcType=VARCHAR}
		where ID=#{id}
	</update>


	<!-- 修改 -->
	<update id="updateSybz" parameterType="com.kcp.platform.common.para.entity.SysParameter">
		update tb_sys_parameter
		set is_used = #{isUsed} where id = #{id}
	</update>


	<!-- 逻辑删除 -->
	<update id="logicDelParam" parameterType="com.kcp.platform.common.para.entity.SysParameter">
		UPDATE tb_sys_parameter
		SET status = 0 , delete_time=#{jlscsj} WHERE id = #{id}
	</update>

	<!-- 删除 -->
	<delete id="delete">
		delete from tb_sys_parameter where ID = #{zjId}
	</delete>

	<update id="addHisOnline">
		UPDATE tb_sys_parameter SET parm_value =
		TO_NUMBER(parm_value)+1 WHERE parm_code = 'HIS_ONLINE'
	</update>
</mapper>
