<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.common.menu.dao.IMenuMapper">
	<resultMap id="menuMap" type="com.kcp.platform.common.menu.entity.Menu"> 
		<id property="zjId" column="ZJID" /> 
		<result property="cdmc" column="CDMC"/> 
		<result property="cdjb" column="CDJB"/> 
		<result property="cdxh" column="CDXH"/> 
		<result property="sjcd" column="SJCD"/> 
		<result property="sjcdCdmc" column="SJCDCDMC"/> 
		<result property="cddz" column="CDDZ"/> 
		<result property="sfzhyicd" column="SFZHYICD"/> 
		<result property="sybz" column="SYBZ"/> 
		<result property="bz" column="BZ"/> 
		<result property="cjyh" column="CJYH"/>
		<result property="gxyh" column="GXYH"/>
		<result property="jlxzsj" column="JLXZSJ"/> 
		<result property="jlxgsj" column="JLXGSJ"/> 
		<result property="jlscsj" column="JLSCSJ"/>
		<result property="jlyxzt" column="JLYXZT"/>
	</resultMap>
	
	<!-- 查询有效菜单清单 -->
	<select id="queryMenuList" parameterType="com.kcp.platform.common.menu.entity.Menu" resultMap="menuMap">
		SELECT C.*,C1.CDMC AS SJCDCDMC
		FROM TB_CDXX C
		LEFT JOIN TB_CDXX C1 ON C.SJCD = C1.ZJID WHERE 1 = 1
		<if test="zjId != null and zjId != ''">and C.ZJID = #{zjId}</if>
		<if test="cdmc != null and cdmc != ''">and C.CDMC = #{cdmc}</if>
		<if test="sjcd != null and sjcd != ''">and C.SJCD = #{sjcd}</if>
		<if test="cdjb != null and cdjb != ''">and C.CDJB = #{cdjb}</if>
		<if test="sfzhyicd != null and sfzhyicd != ''">and C.SFZHYICD = #{sfzhyicd}</if>
		<if test="sybz != null and sybz != ''">and C.SYBZ = #{sybz}</if>
		<if test="jlyxzt != null and jlyxzt != ''">and C.JLYXZT = #{jlyxzt}</if>
		order by to_number(C.CDXH)
	</select>
	
	<select id="queryMaxCdxh" parameterType="String" resultType="java.lang.String">
		SELECT (MAX(TO_NUMBER(CDXH))+1) FROM TB_CDXX WHERE SJCD=#{sjcd}
	</select>
	<!-- 新增 -->
	<insert id="insert" parameterType="com.kcp.platform.common.menu.entity.Menu">
		<selectKey keyProperty="zjId" resultType= "String" order="BEFORE"> 
			SELECT SEQ_TB_CDXX.NEXTVAL FROM DUAL 
		</selectKey>
		insert into TB_CDXX(ZJID, CDMC, CDJB, CDXH, SJCD, CDDZ, SFZHYICD, SYBZ, 
			BZ, CJYH, GXYH, JLXZSJ, JLXGSJ, JLSCSJ,JLYXZT) 
		values(#{zjId,jdbcType=VARCHAR}, #{cdmc,jdbcType=VARCHAR}, #{cdjb,jdbcType=VARCHAR}, 
			   #{cdxh,jdbcType=VARCHAR}, #{sjcd,jdbcType=VARCHAR}, #{cddz,jdbcType=VARCHAR}, 
			   #{sfzhyicd,jdbcType=VARCHAR}, #{sybz,jdbcType=VARCHAR},#{bz,jdbcType=VARCHAR},
			   #{cjyh,jdbcType=VARCHAR},#{gxyh,jdbcType=VARCHAR},#{jlxzsj,jdbcType=VARCHAR},
			   #{jlxgsj,jdbcType=VARCHAR},#{jlscsj,jdbcType=VARCHAR},#{jlyxzt,jdbcType=VARCHAR})
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.kcp.platform.common.menu.entity.Menu">
		update TB_CDXX SET
			CDMC = #{cdmc,jdbcType=VARCHAR},
			CDJB = #{cdjb,jdbcType=VARCHAR},
			CDXH = #{cdxh,jdbcType=VARCHAR},
			SJCD = #{sjcd,jdbcType=VARCHAR},
			CDDZ = #{cddz,jdbcType=VARCHAR},
			SFZHYICD = #{sfzhyicd,jdbcType=VARCHAR},
			SYBZ = #{sybz,jdbcType=VARCHAR},
			BZ = #{bz,jdbcType=VARCHAR},
			JLXZSJ = #{jlxzsj,jdbcType=VARCHAR},
			JLXGSJ = #{jlxgsj,jdbcType=VARCHAR},
			JLSCSJ = #{jlscsj,jdbcType=VARCHAR},
			JLYXZT = #{jlyxzt,jdbcType=VARCHAR}
		where ZJID = #{zjId}
	</update>
	
	<!-- 删除 -->
	<delete id="delete">
		delete from TB_CDXX where ZJID = #{zjId}
	</delete>
	
	<!-- 查询Menu -->
	<select id="findMenuList" parameterType="com.kcp.platform.common.menu.entity.Menu" resultMap="menuMap">
		SELECT ZJID,CDMC,CDJB,CDXH,SJCD,CDDZ,SFZHYICD,SYBZ,BZ,CJYH,GXYH,JLXZSJ,JLXGSJ,JLSCSJ,JLYXZT 
		FROM TB_CDXX WHERE 1=1
		<if test="zjId!=null and zjId!=''">
			AND ZJID=#{zjId}
		</if>
		<if test="sjcd!=null and sjcd!=''">
			AND SJCD=#{sjcd}
		</if>
		<if test="sybz!=null and sybz!=''">
			AND SYBZ=#{sybz}
		</if>
		<if test="jlyxzt!=null and jlyxzt!=''">
			AND JLYXZT=#{jlyxzt}
		</if>
	</select>
	
	<!-- 查询某个菜单的所有上级菜单 ，返回值包括自己-->
	<select id="queryParentMenuList" parameterType="String" resultMap="menuMap">
		SELECT * FROM TB_CDXX
			CONNECT BY PRIOR SJCD=ZJID
			START WITH ZJID=#{menuId}
	</select>
	
	<!-- 查询所有菜单，以树形数据结构返回-->
	<select id="findAllEnableMenus" resultMap="menuMap">
		SELECT * FROM(SELECT * FROM TB_CDXX CONNECT BY PRIOR ZJID=SJCD
				START WITH SJCD=0 ORDER SIBLINGS BY to_number(CDXH) ) A WHERE JLYXZT=1 AND SYBZ=1
	</select>
	
	<select id="getAuthInfo" resultType="hashmap">
		SELECT DISTINCT(T1.ZJID) AS CDID,T5.ZJID AS YHID,T1.CDMC,T5.YHMC,T5.JYBH, T5.SFZH,T6.DWMC FROM TB_CDXX T1
		       JOIN TB_GNXX T2 ON T1.ZJID = T2.CDXX_ZJID
		       JOIN TB_JSXX_R_GNXX T3 ON T2.ZJID = T3.GNXX_ZJID
		       JOIN TB_YHXX_R_JSXX T4 ON T3.JSXX_ZJID = T4.JSXX_ZJID
		       JOIN TB_YHXX T5 ON T4.YHXX_ZJID = T5.ZJID
           JOIN TB_DWXX T6 ON T5.SSDW_ZJID = T6.ZJID
		       WHERE T1.ZJID IN
		       <foreach collection="array" item="menuId"  open="(" separator="," close=")">  
		          #{menuId}  
		       </foreach>
		       AND T5.SYBZ =1 AND T5.JLYXZT=1
		UNION
		SELECT DISTINCT(T1.ZJID) AS CDID,T5.ZJID AS YHID,T1.CDMC,T5.YHMC,T5.JYBH, T5.SFZH,T6.DWMC FROM TB_CDXX T1
		       JOIN TB_GNXX T2 ON T1.ZJID = T2.CDXX_ZJID
		       JOIN TB_JSXX_R_GNXX T3 ON T2.ZJID = T3.GNXX_ZJID
		       JOIN TB_DWXX_R_JSXX T4 ON T3.JSXX_ZJID = T4.JSXX_ZJID
		       JOIN TB_YHXX T5 ON T4.DWXX_ZJID = T5.SSDW_ZJID
           JOIN TB_DWXX T6 ON T5.SSDW_ZJID = T6.ZJID
		       WHERE T1.ZJID IN
		       <foreach collection="array" item="menuId"  open="(" separator="," close=")">  
		          #{menuId}
		       </foreach>
		       AND T5.SYBZ =1 AND T5.JLYXZT=1
	</select>
	
	<!-- 修改树形所有菜单的使用标识 -->
	<update id="updateChildrenSybz" parameterType="com.kcp.platform.common.menu.entity.Menu">
		update TB_CDXX set SYBZ = #{sybz} where ZJID in 
		(select ZJID from TB_CDXX connect by prior ZJID=SJCD start with SJCD = #{zjId})
	</update>
	
	<update id="updateParentSybz" parameterType="com.kcp.platform.common.menu.entity.Menu">
		update TB_CDXX set SYBZ = #{sybz} where ZJID in 
		(select ZJID from TB_CDXX connect by prior SJCD=ZJID start with zjid = #{zjId})
	</update>
	<select id="getMenuById" resultMap="menuMap">
		SELECT * FROM TB_CDXX WHERE ZJID = #{id}
	</select>
	
	<update id="logicDelMenu" parameterType="com.kcp.platform.common.menu.entity.Menu">
		UPDATE TB_CDXX
		   SET JLYXZT = '0', JLSCSJ = #{jlscsj}
		 WHERE ZJID IN (SELECT ZJID
		                  FROM TB_CDXX
		                 START WITH ZJID = #{zjId}
		                CONNECT BY PRIOR ZJID = SJCD)
	</update>
</mapper>
