<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.bpm.dao.IBpmCatalogMapper">
	<resultMap id="bpmCatalogMapper" type="com.kcp.platform.bpm.entity.BpmCatalog"> 
			<result property="id" column="ID" />  
			<result property="catalogKey" column="CATALOG_KEY" />  
			<result property="catalogName" column="CATALOG_NAME" />
			<result property="catalogType" column="CATALOG_TYPE" />
			<result property="parentId" column="PARENT_ID" />
			<result property="orderNo" column="ORDER_NO" />
			<result property="createTime" column="CREATE_TIME" />
			<result property="createUser" column="CREATE_USER" />
			<result property="modifyTime" column="MODIFY_TIME" />
			<result property="modifyUser" column="MODIFY_USER" />
			<result property="layerCode" column="LAYER_CODE" />
	</resultMap>
	
	<!--查询(不分页)-->
	<select id="findBpmCatalog" parameterType="hashmap" resultMap="bpmCatalogMapper">
		SELECT 
				ID,
				CATALOG_KEY,
				CATALOG_NAME,
				CATALOG_TYPE,
				PARENT_ID,
				ORDER_NO,
				CREATE_TIME,
				CREATE_USER,
				MODIFY_TIME,
				MODIFY_USER,
				LAYER_CODE
		FROM BPM_CATALOG
		WHERE 1 = 1 
			<if test="catalogKey != null and catalogKey != '' ">
				AND CATALOG_KEY = #{catalogKey}
			</if>
			<if test="catalogType != null and catalogType != '' ">
				AND CATALOG_TYPE = #{catalogType}
			</if>
			<if test="catalogName != null and catalogName != '' ">
				AND CATALOG_NAME = #{catalogName}
			</if>
		ORDER BY ORDER_NO
	</select>
	
	
	<!--根据Id进行查询-->
	<select id="getBpmCatalogById" parameterType="String" resultMap="bpmCatalogMapper">
		SELECT 
				ID,
				CATALOG_KEY,
				CATALOG_NAME,
				CATALOG_TYPE,
				PARENT_ID,
				ORDER_NO,
				CREATE_TIME,
				CREATE_USER,
				MODIFY_TIME,
				MODIFY_USER,
				LAYER_CODE
		FROM BPM_CATALOG
		WHERE ID=#{id}
	</select>
	
	<!--新增-->
	<insert id="addBpmCatalog" parameterType="com.kcp.platform.bpm.entity.BpmCatalog">
		INSERT INTO BPM_CATALOG(
				ID,
				CATALOG_KEY,
				CATALOG_NAME,
				CATALOG_TYPE,
				PARENT_ID,
				ORDER_NO,
				CREATE_TIME,
				CREATE_USER,
				MODIFY_TIME,
				MODIFY_USER,
				LAYER_CODE
		 )
		values(
				#{id,jdbcType=VARCHAR},
				#{catalogKey,jdbcType=VARCHAR},
				#{catalogName,jdbcType=VARCHAR},
				#{catalogType,jdbcType=VARCHAR},
				#{parentId,jdbcType=VARCHAR},
				#{orderNo,jdbcType=INTEGER},
				SYSDATE,
				#{createUser,jdbcType=VARCHAR},
				SYSDATE,
				#{modifyUser,jdbcType=VARCHAR},
				#{layerCode,jdbcType=VARCHAR}
				
		 )
    </insert>
    
    <!--修改-->
    <update id="updateBpmCatalog" parameterType="com.kcp.platform.bpm.entity.BpmCatalog">
		UPDATE BPM_CATALOG SET
			CATALOG_KEY=#{catalogKey,jdbcType=VARCHAR},
			CATALOG_NAME=#{catalogName,jdbcType=VARCHAR},
			CATALOG_TYPE=#{catalogType,jdbcType=VARCHAR},
			PARENT_ID=#{parentId,jdbcType=VARCHAR},
			ORDER_NO=#{orderNo,jdbcType=INTEGER},
			MODIFY_TIME=SYSDATE,
			MODIFY_USER=#{modifyUser,jdbcType=VARCHAR}
		where ID=#{id}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteBpmCatalog" parameterType="String">
     	DELETE FROM BPM_CATALOG WHERE ID=#{id}
    </delete>
    
    <!-- 根据条件统计记录数 -->
	<select id="countBpmCatalog" parameterType="com.kcp.platform.bpm.entity.BpmCatalog" resultType="int">
    	SELECT COUNT(1) FROM BPM_CATALOG WHERE 1=1
    	<if test="id != null and id != ''">
    		AND	ID != #{id}
    	</if>
    	<if test="catalogKey != null and catalogKey != ''">
    		AND	CATALOG_KEY = #{catalogKey}
    	</if>
    	<if test="catalogType != null and catalogType != ''">
    		AND	CATALOG_TYPE = #{catalogType}
    	</if>
    	<if test="parentId != null and parentId != ''">
    		AND	PARENT_ID = #{parentId}
    	</if>
    </select>
    
    <select id="getMaxLayerCode" resultType="String">
    	SELECT MAX(LAYER_CODE) FROM BPM_CATALOG WHERE PARENT_ID =#{parentId}
    </select>
    
    <select id="getMaxOrderNo" resultType="Integer">
    	SELECT MAX(ORDER_NO) FROM BPM_CATALOG WHERE PARENT_ID =#{parentId}
    </select>
</mapper>