<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.bpm.dao.IBpmFormRunMapper">
	<resultMap id="bpmFormRunMapper" type="com.kcp.platform.bpm.entity.BpmFormRun"> 
			<result property="id" column="ID" />  
			<result property="formDefId" column="FORM_DEF_ID" />  
			<result property="formDefKey" column="FORM_DEF_KEY" />  
			<result property="actInstanceId" column="ACT_INSTANCE_ID" />  
			<result property="actDefId" column="ACT_DEF_ID" />  
			<result property="actNodeId" column="ACT_NODE_ID" />  
			<result property="runId" column="RUN_ID" />  
			<result property="setType" column="SET_TYPE" />  
			<result property="formType" column="FORM_TYPE" />  
			<result property="formUrl" column="FORM_URL" />  
	</resultMap>
	<!--查询(不分页)-->
	<select id="getByInstanceAndNode" resultMap="bpmFormRunMapper">
		SELECT ID,
	       FORM_DEF_ID,
	       FORM_DEF_KEY,
	       ACT_INSTANCE_ID,
	       ACT_DEF_ID,
	       ACT_NODE_ID,
	       RUN_ID,
	       SET_TYPE,
	       FORM_TYPE,
	       FORM_URL
	  FROM BPM_FORM_RUN
	 WHERE ACT_INSTANCE_ID = #{actInstanceId,jdbcType=VARCHAR}
	   AND ACT_NODE_ID = #{actNodeId,jdbcType=VARCHAR}
	</select>
	
	<!--查询(不分页)-->
	<select id="getGlobalForm" resultMap="bpmFormRunMapper">
		SELECT ID,
	       FORM_DEF_ID,
	       FORM_DEF_KEY,
	       ACT_INSTANCE_ID,
	       ACT_DEF_ID,
	       ACT_NODE_ID,
	       RUN_ID,
	       SET_TYPE,
	       FORM_TYPE,
	       FORM_URL
	  FROM BPM_FORM_RUN
	 WHERE ACT_INSTANCE_ID = #{actInstanceId,jdbcType=VARCHAR}
	   AND SET_TYPE = '2'
	</select>
	
	<!--新增-->
	<insert id="addBpmFormRun" parameterType="com.kcp.platform.bpm.entity.BpmFormRun">
		INSERT INTO BPM_FORM_RUN(
				ID,
				FORM_DEF_ID,
				FORM_DEF_KEY,
				ACT_INSTANCE_ID,
				ACT_DEF_ID,
				ACT_NODE_ID,
				RUN_ID,
				SET_TYPE,
				FORM_TYPE,
				FORM_URL
		 )
		values(
				#{id,jdbcType=VARCHAR},
				#{formDefId,jdbcType=VARCHAR},
				#{formDefKey,jdbcType=VARCHAR},
				#{actInstanceId,jdbcType=VARCHAR},
				#{actDefId,jdbcType=VARCHAR},
				#{actNodeId,jdbcType=VARCHAR},
				#{runId,jdbcType=VARCHAR},
				#{setType,jdbcType=VARCHAR},
				#{formType,jdbcType=VARCHAR},
				#{formUrl,jdbcType=VARCHAR}
		 )
    </insert>
    
	<!-- 物理删除 -->
    <delete id="delByInstanceId" parameterType="String">
     	DELETE FROM BPM_FORM_RUN WHERE ACT_INSTANCE_ID=#{actInstanceId}
    </delete>
    
     <delete id="delByActDefId" parameterType="String">
     	DELETE FROM BPM_FORM_RUN WHERE ACT_DEF_ID=#{actDefId}
    </delete>
    
</mapper>