<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.bpm.dao.IBpmFormFieldMapper">
	<resultMap id="bpmFormFieldMapper" type="com.kcp.platform.bpm.entity.BpmFormField"> 
			<result property="fieldId" column="FIELD_ID" />  
			<result property="tableId" column="TABLE_ID" />  
			<result property="fieldName" column="FIELD_NAME" />  
			<result property="fieldType" column="FIELD_TYPE" />  
			<result property="isRequired" column="IS_REQUIRED" />  
			<result property="isList" column="IS_LIST" />  
			<result property="isQuery" column="IS_QUERY" />  
			<result property="fieldDesc" column="FIELD_DESC" />  
			<result property="charLen" column="CHAR_LEN" />  
			<result property="intLen" column="INT_LEN" />  
			<result property="decimalLen" column="DECIMAL_LEN" />  
			<result property="dictType" column="DICT_TYPE" />  
			<result property="isDeleted" column="IS_DELETED" />  
			<result property="validRule" column="VALID_RULE" />  
			<result property="originalName" column="ORIGINAL_NAME" />  
			<result property="sn" column="SN" />  
			<result property="valueFrom" column="VALUE_FROM" />  
			<result property="script" column="SCRIPT" />  
			<result property="controlType" column="CONTROL_TYPE" />  
			<result property="isHidden" column="IS_HIDDEN" />  
			<result property="isFlowvar" column="IS_FLOWVAR" />  
			<result property="identity" column="IDENTITY" />  
			<result property="options" column="OPTIONS" />  
			<result property="ctlProperty" column="CTL_PROPERTY" />
			<result property="optionFrom" column="OPTION_FROM" />  
	</resultMap>
	<!--查询(不分页)-->
	<select id="findBpmFormField" parameterType="hashmap" resultMap="bpmFormFieldMapper">
		SELECT 
				FIELD_ID,
				TABLE_ID,
				FIELD_NAME,
				FIELD_TYPE,
				IS_REQUIRED,
				IS_LIST,
				IS_QUERY,
				FIELD_DESC,
				CHAR_LEN,
				INT_LEN,
				DECIMAL_LEN,
				DICT_TYPE,
				IS_DELETED,
				VALID_RULE,
				ORIGINAL_NAME,
				SN,
				VALUE_FROM,
				SCRIPT,
				CONTROL_TYPE,
				IS_HIDDEN,
				IS_FLOWVAR,
				IDENTITY,
				OPTIONS,
				CTL_PROPERTY,
				OPTION_FROM
		FROM BPM_FORM_FIELD
		WHERE 1 = 1 
			<if test="tableId != null and tableId != '' ">
				AND TABLE_ID = #{tableId}
			</if>
		ORDER BY SN
	</select>
	
	
	<!--根据Id进行查询-->
	<select id="getBpmFormFieldById" parameterType="String" resultMap="bpmFormFieldMapper">
		SELECT 
				FIELD_ID,
				TABLE_ID,
				FIELD_NAME,
				FIELD_TYPE,
				IS_REQUIRED,
				IS_LIST,
				IS_QUERY,
				FIELD_DESC,
				CHAR_LEN,
				INT_LEN,
				DECIMAL_LEN,
				DICT_TYPE,
				IS_DELETED,
				VALID_RULE,
				ORIGINAL_NAME,
				SN,
				VALUE_FROM,
				SCRIPT,
				CONTROL_TYPE,
				IS_HIDDEN,
				IS_FLOWVAR,
				IDENTITY,
				OPTIONS,
				CTL_PROPERTY,
				OPTION_FROM
		FROM BPM_FORM_FIELD
		WHERE FIELD_ID=#{id}
	</select>
	
	<!--新增-->
	<insert id="addBpmFormField" parameterType="com.kcp.platform.bpm.entity.BpmFormField">
		INSERT INTO BPM_FORM_FIELD(
				FIELD_ID,
				TABLE_ID,
				FIELD_NAME,
				FIELD_TYPE,
				IS_REQUIRED,
				IS_LIST,
				IS_QUERY,
				FIELD_DESC,
				CHAR_LEN,
				INT_LEN,
				DECIMAL_LEN,
				DICT_TYPE,
				IS_DELETED,
				VALID_RULE,
				ORIGINAL_NAME,
				SN,
				VALUE_FROM,
				SCRIPT,
				CONTROL_TYPE,
				IS_HIDDEN,
				IS_FLOWVAR,
				IDENTITY,
				OPTIONS,
				CTL_PROPERTY,
				OPTION_FROM
		 )
		values(
				#{fieldId,jdbcType=VARCHAR},
				#{tableId,jdbcType=VARCHAR},
				#{fieldName,jdbcType=VARCHAR},
				#{fieldType,jdbcType=VARCHAR},
				#{isRequired,jdbcType=VARCHAR},
				#{isList,jdbcType=VARCHAR},
				#{isQuery,jdbcType=VARCHAR},
				#{fieldDesc,jdbcType=VARCHAR},
				#{charLen,jdbcType=INTEGER},
				#{intLen,jdbcType=INTEGER},
				#{decimalLen,jdbcType=INTEGER},
				#{dictType,jdbcType=VARCHAR},
				#{isDeleted,jdbcType=VARCHAR},
				#{validRule,jdbcType=VARCHAR},
				#{originalName,jdbcType=VARCHAR},
				#{sn,jdbcType=INTEGER},
				#{valueFrom,jdbcType=VARCHAR},
				#{script,jdbcType=VARCHAR},
				#{controlType,jdbcType=VARCHAR},
				#{isHidden,jdbcType=VARCHAR},
				#{isFlowvar,jdbcType=VARCHAR},
				#{identity,jdbcType=VARCHAR},
				#{options,jdbcType=VARCHAR},
				#{ctlProperty,jdbcType=VARCHAR},
				#{optionFrom,jdbcType=VARCHAR}
		 )
    </insert>
    
    <!--修改-->
    <update id="updateBpmFormField" parameterType="com.kcp.platform.bpm.entity.BpmFormField">
		UPDATE BPM_FORM_FIELD SET
			TABLE_ID=#{tableId,jdbcType=VARCHAR},
			FIELD_NAME=#{fieldName,jdbcType=VARCHAR},
			FIELD_TYPE=#{fieldType,jdbcType=VARCHAR},
			IS_REQUIRED=#{isRequired,jdbcType=VARCHAR},
			IS_LIST=#{isList,jdbcType=VARCHAR},
			IS_QUERY=#{isQuery,jdbcType=VARCHAR},
			FIELD_DESC=#{fieldDesc,jdbcType=VARCHAR},
			CHAR_LEN=#{charLen,jdbcType=INTEGER},
			INT_LEN=#{intLen,jdbcType=INTEGER},
			DECIMAL_LEN=#{decimalLen,jdbcType=INTEGER},
			DICT_TYPE=#{dictType,jdbcType=VARCHAR},
			IS_DELETED=#{isDeleted,jdbcType=VARCHAR},
			VALID_RULE=#{validRule,jdbcType=VARCHAR},
			ORIGINAL_NAME=#{originalName,jdbcType=VARCHAR},
			SN=#{sn,jdbcType=INTEGER},
			VALUE_FROM=#{valueFrom,jdbcType=VARCHAR},
			SCRIPT=#{script,jdbcType=VARCHAR},
			CONTROL_TYPE=#{controlType,jdbcType=VARCHAR},
			IS_HIDDEN=#{isHidden,jdbcType=VARCHAR},
			IS_FLOWVAR=#{isFlowvar,jdbcType=VARCHAR},
			IDENTITY=#{identity,jdbcType=VARCHAR},
			OPTIONS=#{options,jdbcType=VARCHAR},
			CTL_PROPERTY=#{ctlProperty,jdbcType=VARCHAR}
			OPTION_FROM=#{optionFrom,jdbcType=VARCHAR}
		where FIELD_ID=#{fieldId}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteBpmFormField" parameterType="String">
     	DELETE FROM BPM_FORM_FIELD WHERE FIELD_ID=#{id}
    </delete>
    
    
    <!-- 物理删除 -->
    <delete id="deleteBpmFormFieldByTableId" parameterType="String">
     	DELETE FROM BPM_FORM_FIELD WHERE TABLE_ID=#{id}
    </delete>
    
    
    <!-- 根据条件统计记录数 -->
	<select id="countBpmFormField" parameterType="com.kcp.platform.bpm.entity.BpmFormField" resultType="int">
    	SELECT COUNT(1) FROM BPM_FORM_FIELD WHERE 1=1
    	<if test="fieldId != null and fieldId != ''">
    		AND	FIELD_ID != #{fieldId}
    	</if>
    </select>
</mapper>