<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.bpm.dao.IBpmNodeParticipantMapper">
	<resultMap id="nodeParticipantMapper" type="com.kcp.platform.bpm.entity.BpmNodeParticipant"> 
			<result property="participantId" column="PARTICIPANT_ID" />  
			<result property="configId" column="CONFIG_ID" />  
			<result property="defId" column="DEF_ID" />  
			<result property="actDefId" column="ACT_DEF_ID" />  
			<result property="nodeId" column="NODE_ID" />  
			<result property="participantType" column="PARTICIPANT_TYPE" />  
			<result property="participan" column="PARTICIPAN" />
			<result property="participanDesc" column="PARTICIPAN_DESC" />
			<result property="computeType" column="COMPUTE_TYPE" />
			<result property="sn" column="SN" />
			<result property="extractUser" column="EXTRACT_USER" />
	</resultMap>
	<!--查询(不分页)-->
	<select id="findNodeParticipant" parameterType="hashmap" resultMap="nodeParticipantMapper">
		SELECT 
				PARTICIPANT_ID,
				CONFIG_ID,
				DEF_ID,
				ACT_DEF_ID,
				NODE_ID,
				PARTICIPANT_TYPE,
				PARTICIPAN,
				PARTICIPAN_DESC,
				COMPUTE_TYPE,
				SN,
				EXTRACT_USER
		FROM BPM_NODE_PARTICIPANT
		WHERE 1 = 1 
		<if test="participantType != null and participantType != '' ">
			AND PARTICIPANT_TYPE = #{participantType}
		</if>
		<if test="defId != null and defId != '' ">
			AND DEF_ID = #{defId}
		</if>
		<if test="actDefId != null and actDefId != '' ">
			AND ACT_DEF_ID = #{actDefId}
		</if>
		<if test="nodeId != null and nodeId != '' ">
			AND NODE_ID = #{nodeId}
		</if>
		<if test="configId != null and configId != '' ">
			AND CONFIG_ID = #{configId}
		</if>
		ORDER BY SN
	</select>
	
	<!--根据Id进行查询-->
	<select id="getNodeParticipantById" parameterType="String" resultMap="nodeParticipantMapper">
		SELECT 
				PARTICIPANT_ID,
				CONFIG_ID,
				DEF_ID,
				ACT_DEF_ID,
				NODE_ID,
				PARTICIPANT_TYPE,
				PARTICIPAN,
				PARTICIPAN_DESC,
				COMPUTE_TYPE,
				SN,
				EXTRACT_USER
		FROM BPM_NODE_PARTICIPANT
		WHERE PARTICIPANT_ID=#{id}
	</select>
	
	<!--新增-->
	<insert id="addNodeParticipant" parameterType="com.kcp.platform.bpm.entity.BpmNodeParticipant">
		INSERT INTO BPM_NODE_PARTICIPANT(
				PARTICIPANT_ID,
				CONFIG_ID,
				DEF_ID,
				ACT_DEF_ID,
				NODE_ID,
				PARTICIPANT_TYPE,
				PARTICIPAN,
				PARTICIPAN_DESC,
				COMPUTE_TYPE,
				SN,
				EXTRACT_USER
		 )
		values(
				#{participantId,jdbcType=VARCHAR},
				#{configId,jdbcType=VARCHAR},
				#{defId,jdbcType=VARCHAR},
				#{actDefId,jdbcType=VARCHAR},
				#{nodeId,jdbcType=VARCHAR},
				#{participantType,jdbcType=VARCHAR},
				#{participan,jdbcType=VARCHAR},
				#{participanDesc,jdbcType=VARCHAR},
				#{computeType,jdbcType=VARCHAR},
				#{sn,jdbcType=INTEGER},
				#{extractUser,jdbcType=NUMERIC}
		 )
    </insert>
    
    <!--修改-->
    <update id="updateNodeParticipant" parameterType="com.kcp.platform.bpm.entity.BpmNodeParticipant">
		UPDATE BPM_NODE_PARTICIPANT SET
			DEF_ID=#{defId,jdbcType=VARCHAR},
			CONFIG_ID = #{configId,jdbcType=VARCHAR},
			ACT_DEF_ID=#{actDefId,jdbcType=VARCHAR},
			NODE_ID=#{nodeId,jdbcType=VARCHAR},
			PARTICIPANT_TYPE=#{participantType,jdbcType=VARCHAR},
			PARTICIPAN=#{participan,jdbcType=VARCHAR},
			PARTICIPAN_DESC = #{participanDesc,jdbcType=VARCHAR},
			COMPUTE_TYPE = #{computeType,jdbcType=VARCHAR},
			SN = #{sn,jdbcType=INTEGER},
			EXTRACT_USER = #{extractUser,jdbcType=NUMERIC}
		where PARTICIPANT_ID=#{participantId}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteNodeParticipant" parameterType="String">
     	DELETE FROM BPM_NODE_PARTICIPANT WHERE PARTICIPANT_ID=#{id}
    </delete>
    
    <select id="getMaxSn" resultType="int">
    	SELECT MAX(SN) FROM BPM_NODE_PARTICIPANT 
    		WHERE CONFIG_ID = #{configId,jdbcType=VARCHAR}
    </select>
    
    <update id="updateSn">
    	UPDATE BPM_NODE_PARTICIPANT SET
    		SN = #{sn,jdbcType=INTEGER}
    	WHERE PARTICIPANT_ID=#{participantId}
    </update>
    
    <delete id="delByActDefId" parameterType="String">
     	DELETE FROM BPM_NODE_PARTICIPANT WHERE ACT_DEF_ID=#{actDefId}
    </delete>
</mapper>