<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kcp.platform.bpm.dao.IHistoryActivityInstanceMapper">
	<resultMap id="historicActivityInstanceResultMap" type="org.activiti.engine.impl.persistence.entity.HistoricActivityInstanceEntity">
	    <id property="id" column="ID_" jdbcType="VARCHAR" />
	    <result property="processDefinitionId" column="PROC_DEF_ID_" jdbcType="VARCHAR" />
	    <result property="processInstanceId" column="PROC_INST_ID_" jdbcType="VARCHAR" />
	    <result property="executionId" column="EXECUTION_ID_" jdbcType="VARCHAR" />
	    <result property="taskId" column="TASK_ID_" jdbcType="VARCHAR" />
	    <result property="calledProcessInstanceId" column="CALL_PROC_INST_ID_" jdbcType="VARCHAR" />
	    <result property="activityId" column="ACT_ID_" jdbcType="VARCHAR" />
	    <result property="activityName" column="ACT_NAME_" jdbcType="VARCHAR" />
	    <result property="activityType" column="ACT_TYPE_" jdbcType="VARCHAR" />
	    <result property="assignee" column="ASSIGNEE_" jdbcType="VARCHAR" />
	    <result property="startTime" column="START_TIME_" jdbcType="TIMESTAMP" />
	    <result property="endTime" column="END_TIME_" jdbcType="TIMESTAMP" />
	    <result property="durationInMillis" column="DURATION_" jdbcType="BIGINT" />
	</resultMap>
	
	<update id="update" parameterType="org.activiti.engine.impl.persistence.entity.HistoricActivityInstanceEntity">
			UPDATE ACT_HI_ACTINST SET
				END_TIME_ = #{endTime, jdbcType=TIMESTAMP},
				DURATION_ = #{durationInMillis ,jdbcType=BIGINT},
				assignee_ = #{assignee, jdbcType=NUMERIC}
			WHERE ID_ = #{id}
	  </update>

	<insert id="add" parameterType="org.activiti.engine.impl.persistence.entity.HistoricActivityInstanceEntity">
		INSERT INTO ACT_HI_ACTINST (
			ID_, 
			PROC_DEF_ID_,
			EXECUTION_ID_,
			TASK_ID_,
			CALL_PROC_INST_ID_,
			ACT_ID_,
			ACT_NAME_,
			ACT_TYPE_,
			START_TIME_,
			END_TIME_,
			DURATION_,
			PROC_INST_ID_,
			ASSIGNEE_)
		VALUES(
			#{id, jdbcType="VARCHAR"},
			#{processDefinitionId, jdbcType="VARCHAR"},
			#{executionId, jdbcType="VARCHAR"},
			#{taskId, jdbcType="VARCHAR"},
			#{calledProcessInstanceId, jdbcType="VARCHAR"},
			#{activityId, jdbcType="VARCHAR"},
			#{activityName, jdbcType="VARCHAR"},
			#{activityType, jdbcType="VARCHAR"},
			#{startTime, jdbcType="TIMESTAMP"},
			#{endTime, jdbcType="TIMESTAMP"},
			#{durationInMillis, jdbcType="BIGINT"},
			#{processInstanceId, jdbcType="VARCHAR"},
			#{assignee, jdbcType="VARCHAR"})
	</insert>


	<select id="getByInstanceId" resultMap="historicActivityInstanceResultMap">
		SELECT ID_,PROC_DEF_ID_,PROC_INST_ID_,EXECUTION_ID_,TASK_ID_,
				CALL_PROC_INST_ID_,ACT_ID_,ACT_NAME_,ACT_TYPE_,
				ASSIGNEE_,START_TIME_,END_TIME_,DURATION_
			FROM ACT_HI_ACTINST T 
			WHERE T.PROC_INST_ID_=#{actInstId,jdbcType=NUMERIC}
					AND ACT_ID_=#{nodeId,jdbcType=VARCHAR}
					AND END_TIME_ IS NULL
	</select>

	<select id="getByExecutionId" resultMap="historicActivityInstanceResultMap">
		SELECT ID_,PROC_DEF_ID_,PROC_INST_ID_,EXECUTION_ID_,TASK_ID_,
			CALL_PROC_INST_ID_,ACT_ID_,ACT_NAME_,ACT_TYPE_,
			ASSIGNEE_,START_TIME_,END_TIME_,DURATION_ FROM ACT_HI_ACTINST T 
		WHERE  T.EXECUTION_ID_=#{executionId,jdbcType=VARCHAR}
			AND T.ACT_ID_=#{nodeId,jdbcType=VARCHAR}
	</select>

	<select id="getByFilter" resultMap="historicActivityInstanceResultMap">
		SELECT ID_,PROC_DEF_ID_,PROC_INST_ID_,EXECUTION_ID_,TASK_ID_,
			CALL_PROC_INST_ID_,ACT_ID_,ACT_NAME_,ACT_TYPE_,
			ASSIGNEE_,START_TIME_,END_TIME_,DURATION_ FROM ACT_HI_ACTINST T 
			FROM ACT_HI_ACTINST T
		WHERE 1=1
		<if test="actInstId != null and actInstId != ''"> AND t.proc_inst_id_=#{actInstId,jdbcType=VARCHAR}</if>
		<if test="activityId != null and activityId != ''"> AND t.act_id_=#{activityId,jdbcType=VARCHAR}</if>
		<if test="endTime != null"> AND t.end_time_=#{endTime,jdbcType=VARCHAR}</if>
	</select>

	<update id="updateAssignee" parameterType="org.activiti.engine.impl.persistence.entity.HistoricActivityInstanceEntity">
		UPDATE ACT_HI_ACTINST SET 
			ASSIGNEE_ = #{assignee, jdbcType="VARCHAR"},
			END_TIME_ = #{endTime, jdbcType="TIMESTAMP"},
			DURATION_ = #{durationInMillis, jdbcType="BIGINT"}
			WHERE PROC_INST_ID_ = #{processInstanceId} 
					AND ACT_ID_ = #{activityId}
					AND END_TIME_ IS NULL
	</update>
</mapper>