.ui_button {
    background: url("images/btn_bg.jpg") repeat scroll 0 0 transparent;
    border: 1px solid #AABBCC;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding-left:8px;
    padding-right:8px;
}

.ui_button_hover {
    background: url("images/btn_bg_hover.jpg") repeat scroll 0 0 transparent;
    border: 1px solid #AF923F;
}

