<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.casic27.platform.base.job.dao.IJobCommandMapper">
	<resultMap id="jobCommandMapper" type="com.casic27.platform.base.job.entity.JobCommand"> 
			<result property="commandId" column="COMMAND_ID" />  
			<result property="jobId" column="JOB_ID" />  
			<result property="jobGroupName" column="JOB_GROUP_NAME" />  
			<result property="jobName" column="JOB_NAME" />  
			<result property="ctrlCommand" column="CTRL_COMMAND" />  
			<result property="issueTime" column="ISSUE_TIME" />  
	</resultMap>
	<!--查询(不分页)-->
	<select id="findJobCommand" parameterType="hashmap" resultMap="jobCommandMapper">
		SELECT 
				COMMAND_ID,
				JOB_ID,
				JOB_GROUP_NAME,
				JOB_NAME,
				CTRL_COMMAND,
				ISSUE_TIME
		FROM TB_JOB_COMMAND
		WHERE 1 = 1 
			<if test="jobGroupName != null and jobGroupName != '' ">
				AND JOB_GROUP_NAME = #{jobGroupName}
			</if>
			<if test="jobName != null and jobName != '' ">
				AND JOB_NAME = #{jobName}
			</if>
			<if test="startTime!=null">
				AND ISSUE_TIME > #{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime!=null">
				AND ISSUE_TIME &lt; #{endTime,jdbcType=TIMESTAMP}
			</if>
	</select>
	
	<!--查询(分页)-->
	<select id="findJobCommandPaging" parameterType="hashmap" resultMap="jobCommandMapper">
		SELECT 
				COMMAND_ID,
				JOB_ID,
				JOB_GROUP_NAME,
				JOB_NAME,
				CTRL_COMMAND,
				ISSUE_TIME
		FROM TB_JOB_COMMAND
		WHERE 1 = 1 
			<if test="jobGroupName != null and jobGroupName != '' ">
				AND JOB_GROUP_NAME = #{jobGroupName}
			</if>
			<if test="jobName != null and jobName != '' ">
				AND JOB_NAME = #{jobName}
			</if>
			<if test="startTime!=null">
				AND ISSUE_TIME>#{startTime,jdbcType=TIMESTAMP}
			</if>
			<if test="endTime!=null">
				AND ISSUE_TIME&lt;#{endTime,jdbcType=TIMESTAMP}
			</if>
	</select>
	
	<!--根据Id进行查询-->
	<select id="getJobCommandById" parameterType="String" resultMap="jobCommandMapper">
		SELECT 
				COMMAND_ID,
				JOB_ID,
				JOB_GROUP_NAME,
				JOB_NAME,
				CTRL_COMMAND,
				ISSUE_TIME
		FROM TB_JOB_COMMAND
		WHERE COMMAND_ID=#{id}
	</select>
	
	<!--新增-->
	<insert id="addJobCommand" parameterType="com.casic27.platform.base.job.entity.JobCommand">
		INSERT INTO TB_JOB_COMMAND(
				COMMAND_ID,
				JOB_ID,
				JOB_GROUP_NAME,
				JOB_NAME,
				CTRL_COMMAND,
				ISSUE_TIME
		 )
		values(
				#{commandId,jdbcType=VARCHAR},
				#{jobId,jdbcType=VARCHAR},
				#{jobGroupName,jdbcType=VARCHAR},
				#{jobName,jdbcType=VARCHAR},
				#{ctrlCommand,jdbcType=VARCHAR},
				#{issueTime,jdbcType=TIMESTAMP}
		 )
    </insert>
    
    <!--修改-->
    <update id="updateJobCommand" parameterType="com.casic27.platform.base.job.entity.JobCommand">
		UPDATE TB_JOB_COMMAND SET
		JOB_ID=#{jobId,jdbcType=VARCHAR},
		JOB_GROUP_NAME=#{jobGroupName,jdbcType=VARCHAR},
		JOB_NAME=#{jobName,jdbcType=VARCHAR},
		CTRL_COMMAND=#{ctrlCommand,jdbcType=VARCHAR},
		ISSUE_TIME=#{issueTime,jdbcType=DATE}
		where COMMAND_ID=#{commandId}
    </update>
    
	<!-- 物理删除 -->
    <delete id="deleteJobCommand" parameterType="String">
     	DELETE FROM TB_JOB_COMMAND WHERE COMMAND_ID=#{id}
    </delete>
    
    <!-- 删除一天前发布的任务控制命令 -->
	<delete id="deleteJobComandIssuedBeforeOneDay" parameterType="java.util.Date">
		DELETE FROM TB_JOB_COMMAND WHERE ISSUE_TIME&lt;#{date,jdbcType=TIMESTAMP}
	</delete>    
</mapper>