.toolbar {
	padding-left:2px;
	background: url("images/tab-strip-bg.gif") repeat-x scroll 0 0 transparent;
	border-top:1px solid #99BBE8;
	border-bottom:1px solid #99BBE8;
	height:29px;
	line-height:29px;
}